[2014-09-30 06:40] #1267 closed, assigned to nobody

[2014-09-30 06:58] #1263 closed, assigned to nobody

[2014-09-30 11:03] brightonbob opened #1272 "Cockpit "Product Management""
Re  #1267, thanks for the Roadmap information.

I have a few questions on the "Product Management" of Cockpit - not sure that this is the right place to ask, if not please can you direct me to a more appropriate channel?

None of the questions imply any criticism (of the project or the team) they just reflect my ignorance,  desire to learn and contribute!
1. Does RedHat (project owner/sponsor etc)

[2014-09-30 13:13] #1272 closed, assigned to nobody

[2014-09-30 13:43] #1152 closed, assigned to nobody

[2014-10-01 10:55] stefwalter opened #1279 "Setup authorized_keys for various user accounts via Cockpit"
It would be a nice feature (suggested by jscotka) to have a field in the user account manager for assigning authorized_keys for the admin, to be able to then log in (outside of Cockpit) via SSH easily. This is a common task admins do.

[2014-10-01 11:05] stefwalter opened #1280 "Suggestion: Start/stop button on main services page"
Suggested from test day: Similar to docker containers page, may want a start/stop button the main services page. This is a common action.

[2014-10-01 11:12] stefwalter opened #1281 "Allow searching the journal"
Test day suggestion: We no longer have a way to search the journal. We should add this feature back.

[2014-10-01 11:17] stefwalter opened #1282 "Activating bond devices after creating"
vbenes: do not activate bond device immediatelly after creating. I've created bond with same network interfaces and it was unpredictable what happen. I think that there is is possoble to have another config for same physical device. Then you have to deactivate devices in old bond and activate them in new one. Or second possibility is to allow to create bond only for device what are not attached to

[2014-10-03 12:12] andreasn opened #1294 "Surprise where things will be mounted"
In the mounting dialog, unless the mount point is set, the dialog never spells out where things will be mounted.

[2014-10-03 15:03] andreasn opened #1295 "storage: unable to format if device is mounted"
Flow:
1. Filesystem is mounted
2. Select format in the menu
3. Press format in the dialog that pops up.
4. Get a error message along the lines of "Error opening device /dev/dm-3: Device or resource busy"

Perhaps the Format button should be grayed out if the filesystem is currently mounted.
Or the file system could be unmounted as part of the format action.
Option one is a little bit safer, option

[2014-10-03 18:34] andreasn opened #1296 "My system reported it's using 106% CPU usage"
Is this even possible?
My system reported 106% CPU usage. Is this even possible?
![screenshot from 2014-10-03 20 31 44](https://cloud.githubusercontent.com/assets/209895/4510590/e3456d30-4b2b-11e4-8587-82bbe06cf22f.png)

[2014-10-04 00:45] Justinzobel opened #1297 "Request: Crontab management"
Ability to manage cron tasks, add/remove, set time/date/intervals

[2014-10-06 05:33] #1217 closed, assigned to nobody

[2014-10-06 05:34] stefwalter opened #1298 "Command 'systemctl stop docker.service docker.socket' returned non-zero exit status 5"
This fails in the integration tests:

[code]

[2014-10-06 05:59] #1158 closed, assigned to nobody

[2014-10-06 06:18] #1218 closed, assigned to nobody

[2014-10-06 07:59] #1242 closed, assigned to nobody

[2014-10-06 08:50] #1203 closed, assigned to nobody

[2014-10-06 08:50] #1204 closed, assigned to nobody

[2014-10-06 08:50] #1206 closed, assigned to nobody

[2014-10-06 09:17] #1298 closed, assigned to mvollmer

[2014-10-06 09:23] #1223 closed, assigned to nobody

[2014-10-06 11:07] #1296 closed, assigned to nobody

[2014-10-06 11:41] #1207 closed, assigned to nobody

[2014-10-06 12:00] #1180 closed, assigned to nobody

[2014-10-06 12:00] #1189 closed, assigned to nobody

[2014-10-07 05:48] #915 closed, assigned to nobody

[2014-10-07 06:06] #1191 closed, assigned to nobody

[2014-10-07 06:12] #1237 closed, assigned to nobody

[2014-10-07 07:10] EGrishin opened #1300 "[Request] Add dhcpd,squid,samba configuration and view st"

[2014-10-07 07:10] #1300 closed, assigned to nobody

[2014-10-07 08:41] #1210 closed, assigned to nobody

[2014-10-07 08:41] #1262 closed, assigned to nobody

[2014-10-07 08:49] #1219 closed, assigned to nobody

[2014-10-07 09:08] #1221 closed, assigned to nobody

[2014-10-07 09:14] #1157 closed, assigned to nobody

[2014-10-07 09:25] #1205 closed, assigned to nobody

[2014-10-07 10:14] #1172 closed, assigned to nobody

[2014-10-07 10:22] #1214 closed, assigned to nobody

[2014-10-07 18:58] #67 closed, assigned to nobody

[2014-10-08 07:51] mvollmer opened #1304 "Storage: "Format Disk" is not discoverable."
The "Format" for the whole device (that allows people to create partition tables) is in the menu at the top of the page.  For RAIDs, it is quite hidden even and only visible when people explicitly open the action menu.

https://bugzilla.redhat.com/show_bug.cgi?id=1142251

One idea is to move it down into the header of the "Content" panel.

[2014-10-08 07:56] mvollmer opened #1305 "Storage: "Extended Partitions" is offered even when it wont work"
Extended partitions can only be created with MBR partition tables, and we should disable this option otherwise.

[2014-10-08 07:57] mvollmer opened #1306 "Storage: Filesystem fields are shown when creating "Extended Partition"."
We should hide them, just as for "No Filesystem".

[2014-10-08 08:26] mvollmer opened #1307 "Changing the Volume Group name will kick you to Storage card"
Fedora: https://bugzilla.redhat.com/show_bug.cgi?id=1144481

[2014-10-08 08:49] mvollmer opened #1308 "Network: WiFi, unmanaged, etc devices are ignored or not handled nicely."
We should list all devices and show their traffic even if we don't want to touch their configuration.

[2014-10-08 09:21] #1181 closed, assigned to nobody

[2014-10-08 11:51] #1151 closed, assigned to nobody

[2014-10-08 14:08] stefwalter opened #1311 "Don't use the standard KRB5CCNAME in cockpit-ws"
We shouldn't use the standard KRB5CCNAME in cockpit-ws. We should instead use an unique in memory ccache.

We don't want to share a krb5 ccache with the root user.

[2014-10-08 14:38] #1213 closed, assigned to nobody

[2014-10-09 06:25] #1183 closed, assigned to mvollmer

[2014-10-09 09:36] #1311 closed, assigned to nobody

[2014-10-09 10:05] mvollmer opened #1317 "Docker: Call systemctl via pkexec, or use cockpitd."
So that non-root can also start it.

[2014-10-09 10:25] #143 closed, assigned to mvollmer

[2014-10-09 12:09] #1253 closed, assigned to mvollmer

[2014-10-10 07:00] #1305 closed, assigned to mvollmer

[2014-10-10 07:09] mvollmer opened #1325 "Services: wheel can't execute actions."
The frontend refuses them with "You are not authorized".

[2014-10-10 07:38] #1317 closed, assigned to mvollmer

[2014-10-10 07:40] #1325 closed, assigned to nobody

[2014-10-10 07:45] mvollmer opened #1327 "Services: Journals are all empty."

[2014-10-10 08:44] #1327 closed, assigned to nobody

[2014-10-10 12:25] stefwalter opened #1329 "Should be 'problem' not 'reason'"
We call them problem codes, and they should live in a field called 'problem' not 'reason'

[2014-10-10 12:27] stefwalter opened #1330 "Shouldn't use "not-authorized" when authentication failed"
I know HTTP gets this wrong. ... Authentication is verifying who the person is. Authorization is the check whether someone who has already authenticated may access something.

[2014-10-13 11:07] #1306 closed, assigned to mvollmer

[2014-10-14 10:36] andreasn opened #1340 "storage: more clear hirearchy for RAID devices"
All items in a RAID device are currently stacked on top of each other with little distinction of Disks and Content.

Current layout of RAID:
![screenshot from 2014-10-14 12 34 06](https://cloud.githubusercontent.com/assets/209895/4627685/a2677f78-538d-11e4-8ab0-c0d02e3a0759.png)

It would be good to relayout this a bit to make it clearer.

[2014-10-14 10:43] andreasn opened #1341 "storage: More clear hirearchy for Volume Groups"
Similar to issue #1340

All items in a Volume Groups are currently stacked on top of each other with little distinction of the different parts of the hierarchy.

Screenshot:
![screenshot from 2014-10-14 12 43 09](https://cloud.githubusercontent.com/assets/209895/4627782/e5ac7bc0-538e-11e4-8e70-7cbcd1f46642.png)

[2014-10-14 11:17] jscotka opened #1342 "javascript errors and blank page shown after login in case of --prefix=/opt/cockpit"
Hi,
I've  recompiled cockpit and use instructions at page:
https://github.com/cockpit-project/cockpit/blob/master/HACKING.md
with changed prefix to /opt/cockpit
../autogen.sh --prefix /opt/cockpit --enable-maintainer-mode --enable-debug

it caused two issues: first one, cockpit is not starting well (caused by selinux context, they are not set up by make install process) solved by setenforce 0 (una

[2014-10-14 11:32] jscotka opened #1343 "build process: --prefix setup to /some/patch should not affect system cockpit instances"
Hi,
I'm filing the bug after discussion on IRC, sbout build process with --prefix set to some another path.
My expectation was that using --prefix should not affect system instance of cockpit.
As we discussed there are 2 proposed solutions:
1. have special option for make process to not affect system directories
2. in case of --prefix do not touch system by default

Question is what is more UNIX-l

[2014-10-14 13:15] jscotka opened #1345 "creating logical volue - no check for names"
Hi,
I've tried to create logical volume, and there is no check for name, it may not contain whitespaces, so there should be some check like [a-zA-Z0-9_]+ or something similar. I think that creation of volume group have this check, but in case of logical volue there it isn't:

Error creating logical volume: lvcreate exited with non-zero exit status 3: Logical volume name "ab cd" is invalid Run `lvc

[2014-10-14 13:27] #1228 closed, assigned to nobody

[2014-10-15 08:06] jscotka opened #1348 "cockpit-protocol-WARNING **: couldn't read from connection: Peer failed to perform TLS handshake"
Hi,
there are message n console, when manual running cockpit-ws. They are caused by self-signed certificate and probably should be supressed, because it is expected to have bad handshake in case of selfsigned certificate.
Steps to reproduce:
cd cockpit
mkdir build2
cd build2/
../autogen.sh --prefix=/opt/cockpit2 --enable-maintainer-mode --enable-debug --enable-prefix-only
make
make install
systemc

[2014-10-15 10:21] #1342 closed, assigned to stefwalter

[2014-10-15 10:21] #1343 closed, assigned to stefwalter

[2014-10-16 09:53] stefwalter opened #1352 "Simpler DBus protocol"
Implement a simple DBus protocol based on the NetworkManager concept, no ObjectManager on the bridge side.

[2014-10-16 09:54] stefwalter opened #1353 "Predigest PropertiesChanged, InterfaceAdded etc..."
Option to predigest these signals on the bridge side to be more efficient and clean, and also allow for pooling of channels.

[2014-10-16 09:54] stefwalter opened #1354 "Path prefix support in DBus protocol"
Allow specifying a path prefix and having everything with that prefix be represented as a relative path.

[2014-10-16 14:21] stefwalter opened #1355 "Base64 ay encoding"
We should have optional Base64 ay encoding in dbus channels.

[2014-10-16 15:35] stefwalter opened #1357 "DBus proxy support in cockpit.dbus().proxy()"
In the new dbus code, implement proxy support, as well as caching of properties, etc...

[2014-10-16 15:45] stefwalter opened #1358 "Flags support in dbus messages"
If a "call" is made with a 'flags' option, then certain message flags can be included (like the auto-start flag, interactive-authentication, and message byte order).

If a "call" is made with "flags" (even if empty) then the reply will contain the reply message flags (such as byte order).

[2014-10-17 13:52] mvollmer opened #1368 "/cockpit/... resources don't declare their Content-Type."
Firefox complains like this about shell.html and terminal.html:

[code]

This didn't matter much earlier since shell.html was inserted into index.html, which did have a correct content-type.

[2014-10-20 13:31] andreasn opened #1374 "Storage has much more padding to the sides compared to other sections"
Storage has much more padding to the sides compared to other sections.
This is probably due to a div inside a div too much.

[2014-10-21 07:03] #1374 closed, assigned to nobody

[2014-10-21 09:36] andreasn opened #1378 "rework the journal layout"
@LHinson have been working on a reworked Journal layout.

![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/journal/Journal_withNotes.png)

[2014-10-21 11:27] andreasn opened #1379 "link from journal detail to service page?"
So I was having issues with mt-daapd today. It spit out a number of errors to the journal.
When looking at one of the journal entrys, I was wondering about the _current_ state of the service, like "is it actually running right now?"

In this case it would be handy with a link to the service in question.

[2014-10-22 08:25] jscotka opened #1380 "compilation issue with another LANG variable: LANG=cs_CZ.UTF-8"
Hi,
I've tried to compile cocpit under another LANG=cs_CZ.UTF-8  variable. "make" commands works but make install failed with some errro:
               rcompile: unsupported file type: javascript

steps to reproduce:
# rm build3 -rf; rm -rf /opt/cockpit3; mkdir build3; cd build3; ../autogen.sh --prefix=/opt/cockpit3 --enable-maintainer-mode --enable-debug --enable-prefix-only;LANG=cs_CZ.UTF-8 mak

[2014-10-22 09:29] #1380 closed, assigned to nobody

[2014-10-23 12:12] phatina opened #1388 "Do not dereference NULL instance"
Opening a new channel wit **dbus-json1** payload with missing **service** currently (HEAD == 04656b4) makes cockpit-ws to deference a NULL instance. See attached output of `cockpit-ws`:

[code]

[2014-10-23 14:04] andreasn opened #1395 "rearrage the layout for Containers"
In order to utilize the size on big screens a bit better, it would be nice to relayout the Docker page a bit.

[2014-10-24 08:33] #1368 closed, assigned to stefwalter

[2014-10-26 15:49] rick-aarch64 opened #1402 "trying to format lv group "nasuser" with XFS"
While using cockpit to format lvgroup names "nasuser" I got following error:
Command-line `mkfs.xfs -f -L "filesystem for nfs user" "/dev/dm-4"' exited with non-zero exit status 1: Illegal value filesystem for nfs user for -L option Usage: mkfs.xfs /\* blocksize _/ [-b log=n|size=num] /_ metadata _/  [-m crc=0|1,finobt=0|1] /_ data subvol _/   [-d agcount=n,agsize=n,file,name=xxx,size=num, (sunit=

[2014-10-28 15:03] #1395 closed, assigned to nobody

[2014-10-29 14:15] jscotka opened #1407 "Browser issue: F20 epiphany - Server has closed the connection."
I've tried to use other web browser, and it failed to login, better to say,
It is logged  in https://192.168.122.168:9090/#/local/dashboard, but popup windows with text:
Disconnected
Server has closed the connection.
It seems that after login, aomething close connection. I have to say, that cockpit server is still running, no error in cocpit log.
    Thanks&Regards
     Honza

[2014-10-29 14:21] jscotka opened #1408 "Browser issue: F20 konqueror - message: This web browser is too old to run Cockpit"
Hi,
I'm unable to log in to cockpit via konqueror from F20. Cockpit displayed mentioned message:
This web browser is too old to run Cockpit

But I think that F20 is not so old :-)
    Thanks&Regards
    Honza

[2014-10-31 17:26] #1352 closed, assigned to nobody

[2014-10-31 17:26] #1355 closed, assigned to nobody

[2014-10-31 17:26] #1358 closed, assigned to nobody

[2014-11-03 09:16] mvollmer opened #1415 "No way to change the host avatar."
We don't have any way anymore to change the host avatar.

[2014-11-03 12:49] stefwalter opened #1418 "Navigating to journal breaks the back button"
Navigating to the journal page, does an immediate redirect of the `#fragment` part of the url, and thus you can't use the back button to go back to the previous page.

[2014-11-03 13:24] #1408 closed, assigned to nobody

[2014-11-05 09:53] stefwalter opened #1438 "Get Cockpit building in EPEL6"
I know we're a long way from running on non-systemd systems, but I'd like to see what it takes to get Cockpit running on EL6 via EPEL6.

[2014-11-05 14:28] jscotka opened #1443 "Container blocked, and after exit there is no disconnect text in terminal"
Adter many of starting & exitiing container instance. I felt to state, that after exit command in terminal. There isn't disconnected text and it is unable to start container again.
It seems that there is broken something in docker?

![konqueror1-container](https://cloud.githubusercontent.com/assets/8735467/4919128/94856764-64f7-11e4-84db-69b09719f260.png)
![konqueror2-container-error](https://clou

[2014-11-06 20:08] andreasn opened #1451 "Containers: volumes"
This has been on my made a bit of late, since I've been doing this quite a bit via the CLI on my home server, so I thought I might as well file an issue about it.
A very basic Docker functionality is to mount volumes. Either from the host, or from a so called Data Container (basically, another container).
Some documentation here: https://docs.docker.com/userguide/dockervolumes/

Somewhat related t

[2014-11-07 20:35] stefwalter opened #1458 "Cannot syncronize root account passwords"
We cannot syncronize root account passwords using accountsservice. We should probably do password syncronization through the remotectl tool anyway, rather than using the usual dbus methods.

[2014-11-07 20:43] stefwalter opened #1459 "Going to remote server directly from dashboard causes timeout error"
Going directly to a remote server via the dashboard, and waiting there for a while (a couple minutes most) gets you disconnected with a: "Server has closed the connection."

[2014-11-07 20:50] stefwalter opened #1460 "SSH_AUTH_AGAIN returned from ssh_userauth_password"
SSH_AUTH_AGAIN is sometimes returned from ssh_userauth_password(). Seen it in the wild. This seems to mean that we can try again with another password. We should treat it just like an authentication failure, rather than "internal-error"

https://github.com/cockpit-project/cockpit/blob/master/src/ws/cockpitsshtransport.c#L334

[2014-11-09 05:46] stefwalter opened #1461 "Support public-key auth when connecting via SSH"
We can use an ssh key with a specific name ```cockpit.pub``` in the user's home directory when connecting out via SSH.

This will allow us to manage servers where password based auth is disabled. Note that the user will still be the same as the user name that authenticated against cockpit.

[2014-11-11 14:35] andreasn opened #1468 "some pages reflow very bad when sidebar is present"
some pages reflow very bad when sidebar is present:
top bar: 766-868px
services: everything under 855px
network > child: 689-810px
storage: 791-1099px
containers: 791-1880px
terminal: everything under 982px

I'll file fixes for each page individually

[2014-11-12 15:45] abonas opened #1477 "search images dialog improvement suggestions"
search images dialog improvement suggestions:
1. Its title is "search image" - is this proper English? Shouldn't it be "search for image"?
2. there's a lot of "dead space" in the dialog - all the white space under "search image".
3. it's not clear where is this search searching for images - some repo? local? remote?
4. tag field seems disabled - what can user do with it?

![searchimage](https://cl

[2014-11-12 15:58] abonas opened #1478 "Images section is too small"
The "images" section is too small (while the containers section has some "dead space" in it)
And the images size is out of the images section.
![dockermgmtcockpit](https://cloud.githubusercontent.com/assets/6277245/5013332/80fbc3ac-6a95-11e4-8a06-f6fa05841a38.png)

[2014-11-12 20:50] #1353 closed, assigned to nobody

[2014-11-12 20:50] #1357 closed, assigned to nobody

[2014-11-12 20:51] #1229 closed, assigned to nobody

[2014-11-17 11:29] #7 closed, assigned to nobody

[2014-11-17 11:30] #8 closed, assigned to nobody

[2014-11-17 11:32] #15 closed, assigned to nobody

[2014-11-17 14:45] stefwalter opened #1495 "Support dbus-json mode where handle name owners differently"
A mode, and probably the default:

 * Don't close channel when DBus name owner changes or goes away.
 * Don't ping the service
 * Send method calls to the real bus name instead of name owner.

The current mode should be a compat mode for services that don't handle stateless operation and exiting when not in use correctly.

Going forward more and more services will have the correct behavior, and we

[2014-11-19 21:16] RobinMcCorkell opened #1498 "autogen.sh po2json problem"
When attempting to run `autogen.sh`, the `npm install po2json` stage fails with the following error:

[code]

This is running on Arch Linux with NodeJS version 0.10.33 on the ARMv6h platform.

[2014-11-20 08:22] stefwalter opened #1499 "Use /etc/shadow when pam_reauthorize.so is not available"
For local passwords, we can reauthorize against /etc/shadow when pam_reauthorize.so is not installed or available in the PAM stack.

[2014-11-20 08:26] stefwalter opened #1500 "Make it easier to use DBus proxies with lower case methods"
Generally DBus uses CamelCase for methods, signals, properties. And so we optimize for that in our DBus proxies. People have to use the client directly, and not the proxy, for non CamelCase methods and signals. However we should make it slightly easier:
- Provide a 'call' method on proxies which accepts a string as first argument, all other arguments are assumed to be method in args.
- Emit a 'sig

[2014-11-20 10:40] mvollmer opened #1505 "CockpitPipe closes itself prematurely"
A CockpitPipe with in_fd == -1 and out_fd != -1 will close itself after the first cockpit_pipe_write.

This happens because the output queue will become empty which causes close_maybe to close the pipe.

[2014-11-21 10:37] #1144 closed, assigned to mvollmer

[2014-11-21 12:32] #1505 closed, assigned to stefwalter

[2014-11-21 12:57] #1498 closed, assigned to nobody

[2014-11-21 12:57] #1500 closed, assigned to nobody

[2014-11-24 09:26] #1418 closed, assigned to mvollmer

[2014-11-24 16:24] sgallagher opened #1517 "Should be able to multi-select containers/images for deletion"
When testing with docker containers, it's not uncommon to build up a large number of unused containers. It would be very handy to be able to select a multitude of them and delete them all (or start or stop them all, etc.)

[2014-11-26 02:12] stefwalter opened #1521 "Host switcher design issues"
The host switcher at present has several design issues:

 * It is useless when there is only one server (the default case)
 * It does not remember whether it was hidden/visible when you:
   * Log into cockpit again
   * Refresh Cockpit
 * To go to the dashboard you have to show the host switcher, and if you didn't want it shown that is  irritating to come back from the dashboard and still have it

[2014-11-26 02:18] stefwalter opened #1522 "Server page design issues"
Server page is pretty ugly right now:

![screenshot from 2014-11-26 03 14 27](https://cloud.githubusercontent.com/assets/795070/5195308/d7dc39ba-751a-11e4-8fe2-5a442f7efaba.png)

Will list the issues below.

[2014-11-26 02:21] stefwalter opened #1523 "Breadcrumb bar needs to be in fixed frame"
The breadcrumb bar at the top of various pages needs to be in a fixed frame, so it doesn't scroll when you scroll the page. Having basic navigation scroll out of view is broken.

[2014-11-26 02:25] stefwalter opened #1524 "Storage page layout broken"
The storage page has several broken layout and design issues right now.

[2014-11-26 02:34] stefwalter opened #1525 "Containers page layout broken and design issues"
The containers page layout has been broken for a while now. It's hard to get it to work right, even when I make it as big as my monitor.

[2014-11-26 14:28] jscotka opened #1529 "Removing local host on first page -> unable to add it back"
Hi,
I've used [-] button to remove localhost from cockpit, but then I'm unable to add it back via button [+]
![hribecek - mozilla firefox on boletus brq redhat com _002](https://cloud.githubusercontent.com/assets/8735467/5202691/75e65022-7580-11e4-9122-8258357ae024.png)
![cockpit - mozilla firefox on boletus brq redhat com _003](https://cloud.githubusercontent.com/assets/8735467/5202693/7a66265e-7

[2014-11-27 14:08] andreasn opened #1535 "filter box for the journal"
Splitting this off issue #1378 since after discussing it a bit with @stefwalter we realized it's a whole heap of logic in itself and it would be bad to block on the layout fixes.

https://bugzilla.redhat.com/show_bug.cgi?id=1657756

[2014-11-27 17:30] #1329 closed, assigned to nobody

[2014-11-28 12:51] #1388 closed, assigned to nobody

[2014-11-28 12:52] #1478 closed, assigned to nobody

[2014-11-28 13:58] stefwalter opened #1541 "Docker image size is misleading and probably useless"
Listing the size of a Docker Image is pretty misleading as various images share lots of space. I think we could leave out that column in our Containers page.

[2014-11-28 14:45] stefwalter opened #1543 "Storage disk bars look like they have the same size"
In the bars on the storage page all of the disks look like they have the same size. Their light gray bars are all identically large.

https://cloud.githubusercontent.com/assets/795070/5228697/1ee3c158-770e-11e4-8726-1ee0d469f5b8.png

[2014-11-28 14:48] stefwalter opened #1544 "Move Shutdown/Restart to main server page"
The server page should have the shutdown/restart dialog ... it doesn't fit on the 'Tools' menu, it's not a tool, it's a basic aspect of the Server.

[2014-12-02 09:14] stefwalter opened #1549 "Don't display full date for images created more than two days ago"
Don't display the full date for Docker images created more than two days ago.

[2014-12-02 09:15] #1525 closed, assigned to nobody

[2014-12-03 09:42] mvollmer opened #1551 "Starting a container multiple times leads to multiple log panels"
See the attached screenshot.

The container just echos one line and then stops.  Every second time a it "Start", I get a new log panel.

![multi-log](https://cloud.githubusercontent.com/assets/3228183/5278374/6501f99e-7ae1-11e4-8bcb-c83f8f0b3ba3.png)

[2014-12-03 13:20] andreasn opened #1554 "use monospace font for the journal"
Lennart P suggested using a monospace font for the journal. Apparently a lot of log messages expect this behaviour.

[2014-12-05 16:55] #1524 closed, assigned to nobody

[2014-12-05 19:40] cmurf opened #1561 "volume size and usage reported incorrectly"
Cockpit seems confused about Btrfs volume size. It reports the volume as 0.7/1.5 GB (see screenshot):

$ df -h
Filesystem      Size  Used Avail Use% Mounted on
/dev/sda4        54G  4.8G   48G   9% /
/dev/sda4        54G  4.8G   48G   9% /var
/dev/sda4        54G  4.8G   48G   9% /home

$ stat -f /home
  File: "/home"
    ID: dbcfcb8f2858a147 Namelen: 255     Type: btrfs
Block size: 4096       Fun

[2014-12-05 20:00] cmurf opened #1562 "Filesystem, used and total size based on different units"
![screen shot 2014-12-05 at 12 27 39 pm](https://cloud.githubusercontent.com/assets/10091077/5321843/82626af4-7c7c-11e4-92a1-f18472403790.png)

See the first line for mount point /boot. The first value is for used, and is based on binary prefix (the number is in mebibytes); the second value is for total, and is based in SI prefix (the number is in megabytes).

Filesystem     1K-blocks    Used Avai

[2014-12-08 13:41] Dragomir-Ivanov opened #1564 "Why cockpit is writen in C, and not in Go?"
I am sorry, this is not an issue, and I couldn't find any google group about cockpit.
So, why write non-performance wise server side software in C instead of Go?
Thanks.

[2014-12-08 18:36] #1564 closed, assigned to nobody

[2014-12-10 08:34] stefwalter opened #1570 "Keepalive connections"
Our http-stream1 connections should support keep-alives. This is not just for efficiency, certain authentication schemes like NTLM and Pegasus require keeping the connection open after authenticating.

[2014-12-10 11:16] andreasn opened #1574 "admin account panel borders are black"
This looks out of place with the rest of Cockpit.
![screenshot from 2014-12-10 12 15 42](https://cloud.githubusercontent.com/assets/209895/5375059/51108d80-8066-11e4-9d01-2f3df69e4768.png)

[2014-12-10 14:58] andreasn opened #1577 "Remove 'which no gear in ((null))' message"
Note that this could just be my system, but felt best to file just in case.

![screenshot from 2014-12-10 15 08 09](https://cloud.githubusercontent.com/assets/209895/5377762/4955ea1c-8085-11e4-96b9-7d78ed2f0803.png)

[2014-12-11 12:13] #185 closed, assigned to nobody

[2014-12-12 05:14] subhashc opened #1581 "ssl port redirection fail ( segfault at 60 ip error 4 in libglib-2.0.so.0.3600.3)"
I have successfully installed cockpit server in
OS: Redhat Enterprise  Linux release 7.0.1406 (Core)
Kernel: 3.10.0-123.el7.x86_64
when i try to browse http://10.10.10.6:9090 it  redirect to (SSL)  https://10.10.10.6:9090 page is not opening.

http://10.10.10.6:9090   URL is working in  local  machine but if i open in remote this  URL  https://10.10.8.6:9090 page is not loading and through below e

[2014-12-12 08:43] #1581 closed, assigned to nobody

[2014-12-12 09:47] stefwalter opened #1583 "Cockpit should build and run without systemd"
Cockpit should build and run without systemd, for example on RHEL 6. This means a few things:

 * Optional use of libsystemd and journal code in cockpit-ws and cockpit-bridge
 * An alternate package which provides the 'server' component that does not use systemd functionality.
 * A simple sysv startup script

[2014-12-12 10:59] #1570 closed, assigned to nobody

[2014-12-13 13:29] #1459 closed, assigned to nobody

[2014-12-13 13:59] hrezaee opened #1587 "exposing ports for images that does not have expose syntax in their dockerfile"
When the EXPOSE directive in the docker image is not used, no ports are exposed.

But there's an alternative way to expose ports using the -p or --publish option while running a container from the command line.

Perhaps cockpit should detect that the expose syntax is not used, and offer to expose additional ports while running the container?

Or give a notification that let's the user know that no

[2014-12-14 13:09] stefwalter opened #1588 "Deprecate the resource2 protocol"
We should just use http-stream1 to access Cockpit resources. There's no need to convert everything twice and have complexity in the process.

[2014-12-14 13:11] stefwalter opened #1589 "True textual framing"
If people use this more routinely over stream protocols, it would make more sense to have true textual framing, and encode the one bit of binary data that we have, the MSB frame length, as a textual number.

[2014-12-14 13:11] stefwalter opened #1590 "The "eof" command should be "done""
The "eof" command should be renamed to "done" ... so that it's clearer what it does, and that it doesn't just apply to stream style payloads.

[2014-12-14 13:13] stefwalter opened #1591 "fswrite1 should be renamed to say 'replace'"
This payload does not have general write semantics. It should be called 'replace' instead.

[2014-12-14 13:14] stefwalter opened #1592 "fsdir1 should be renamed to say 'list'"
The fsdir1 channel really has 'list' semantics, like the 'ls' command.

[2014-12-14 13:14] stefwalter opened #1593 "No monitor mode for fsdir1 channel."
fsdir1 (or listing) should have an option to close automatically when the initial listing is done, and not monitor.

[2014-12-14 13:23] stefwalter opened #1594 "Interactive debuggable cockpit-bridge protocol"
Because of the frame length, the cockpit-bridge protocol is rather hard to debug from the command line or simple shell scripts.

If we can do this, we can make simpler tests, and debugging.

[2014-12-14 13:24] stefwalter opened #1595 "Support optional 'superuser' privilege escalation"
The bridge should support optional 'superuser' privilege escalation. Currently if it fails, the channel is closed. It should be possible to tell the channel to try to escalate privileges, and then go ahead and perform the action without that if escalation fails.

[2014-12-14 13:25] stefwalter opened #1596 "Support sudo as a way to escalate privileges"
We should have a way to escalate privileges via sudo, initially likely without reauthorization. In cloud environments people log in as cloud-user and then sudo to root, without reauthentication.

[2014-12-14 13:26] stefwalter opened #1597 "Move cockpitd to another package"
Move cockpitd out of the cockpit-bridge package and reduce a lot of dependencies there.

[2014-12-15 10:46] #1589 closed, assigned to nobody

[2014-12-15 16:36] subhashc opened #1605 "Adding servers to cockpit ( ssh:notty )"
HI,

Cockpit running under RHEL 7.0

when i am trying to add remote servers in cockpit portal, i am getting below errors

[root@docker-host3 ~]# journalctl -b | grep cockpit
--------------------------------------------------------------
Dec 12 23:06:49 docker-host3 cockpit-session[19150]: pam_unix(cockpit:session): session closed for user root
Dec 15 21:56:43 docker-host3 cockpit-ws[28703]: HTTP S

[2014-12-16 12:15] #1590 closed, assigned to nobody

[2014-12-18 14:31] andreasn opened #1615 "Change the cockpit.png image to a higher resolution"
It gives a lower score here, so lets do higher resolution instead.
https://alt.fedoraproject.org/pub/alt/screenshots/f22/matrix.html

[2014-12-19 05:10] subhashc opened #1616 "Memory utilization is not accurate in cockpit portal"
My system having  128GB RAM but where as in cockpit dashboard  graph shows 168 GB RAM utilized

I have cross verified using command line syntax and pcp

Server command line check
![image](https://cloud.githubusercontent.com/assets/7770603/5500350/c95e0b7e-8768-11e4-8c54-69a3797c2bd9.png)

Cockpit dashboard memory utilization snapshot

![image](https://cloud.githubusercontent.com/assets/7770603/550

[2014-12-19 06:03] subhashc opened #1617 "cockpit graphs(CPU/Memory) are gray color"
![image](https://cloud.githubusercontent.com/assets/7770603/5500791/aa39259e-8772-11e4-871d-ed4c34d2b89d.png)

![image](https://cloud.githubusercontent.com/assets/7770603/5500795/c70f61ba-8772-11e4-8bae-e8da8170477e.png)

[2015-01-05 09:30] dperpeet opened #1618 "Terminal needs reset"
Once a terminal becomes unusable (logout, invalid character sequences) user needs to log out of cockpit and log back in to recover.
![image](https://cloud.githubusercontent.com/assets/8711649/5611323/a1494cd8-94c5-11e4-8d3d-0b1f17a04878.png)

How about a reset button to get a terminal with the initial state (same as on login)?

[2015-01-05 09:37] dperpeet opened #1619 "Warn that changing groups for a user is effective only in new sessions"
In Cockpit, user needs to relog for any change to the setting "Container Administrator" to take effect.

Cockpit should either display a notice that changes to the current user's role require a relog or apply them immediately.

A warning would be the easiest. For immediate effect to work, all plugins need to ensure consistency when user privileges change mid-session.

[2015-01-05 10:23] dperpeet commented on #1562
There are two issues here to make this truly consistent:

1. The formatting function in [cockpit.js](https://github.com/cockpit-project/cockpit/blob/e5c25b4bba4504c3bde10b64784a2bfffbccec74/pkg/base/cockpit.js#L2227). It defaults to binary units (1024), but the [suffixes](https://github.com/cockpit-project/cockpit/blob/e5c25b4bba4504c3bde10b64784a2bfffbccec74/pkg/base/cockpit.js#L2221) are identic

[2015-01-05 10:59] stefwalter commented on #1562
Lets fix this to be consistent first, and file other bugs for issues you find.

 * The design guys said we shouldn't be using textual binary suffixes (MiB, GiB, etc...)
 * Some things (like network speed) are always measured in SI units (never binary), it will always be necessary to call these with the `1000` units.

[2015-01-05 11:09] stefwalter commented on #1619
So to fix the symptom I think we should prompt the user to re-login after changing their group settings.

But secondarily, @mvollmer Do you think we should move away from using the 'docker' group? It's completely insecure, and bypasses the usual security mechanisms of Linux. It's would be a shame, because it's the only non-wheel group we've had listed in 'User Accounts' so far.

[2015-01-05 11:10] stefwalter commented on #1618
@andreasn What do you think?

From a UI perspective should we log in again when you come back to the page?

[2015-01-05 11:10] dperpeet commented on #1378
After some consideration, I like that warnings/errors don't use colors.
What if we work with shade/opacity? The exclamation icon could be lighter for warnings, darker for errors. I have no idea if this looks good or if it's enough to filter. Or use a different icon for errors?

[2015-01-05 11:12] stefwalter commented on #1562
format_bytes() documentation here: http://files.cockpit-project.org/guide/latest/api-cockpit.html#latest-format-bytes

[2015-01-05 11:22] dperpeet commented on #1562
If we use SI suffixes, then I believe we should switch to base 10 with the numbers, as well. I will change the code accordingly (without changing the default in [format_bytes()](http://files.cockpit-project.org/guide/latest/api-cockpit.html#latest-format-bytes)

[2015-01-05 13:21] #1562 closed

[2015-01-05 13:44] FireDrunk opened #1621 "GPT Partition Support"
I've just installed Cockpit on a Minimal Fedora 21 VM. First impression: Awesome!
Works like a charm!

But i found one "bug". It looks like Cockpit doesn't support GPT Partition Labels.
Partitions are still shown by their "old" /dev/sd[a-b][0*] identification.

Would it be possible to make Cockpit check for partition labels in /dev/disk/by-partlabel/ ?

[2015-01-05 13:46] stefwalter commented on #1621
@mvollmer Do you have comments here? Is this a limitation of udisks?

[2015-01-05 14:27] stefwalter commented on #1549
We should probably have the full timestamp available when hoverring over (ie: with a ```title=""``` attribute)

[2015-01-05 15:49] dperpeet commented on #1587
I suggest doing both. If no ports are exposed by default, instead of the "bind to" fields we can display a warning "No ports exposed by default."

Additionally we add fields to populate the -p option:
host port, container port, protocol (tcp/udp)
Do we want to specify an interface as well?
We have to be a bit careful, because the interface may have a default value from Docker server settings

[2015-01-05 16:01] mvollmer commented on #1562
Note that @cmurf said that in "184.5 / 499.5 MB" the "184.5" is in MiB, and the "499.5" is in MB.  That would be a bug in our formatting routines, regardless of what units different parts of the code choose.

[2015-01-05 17:09] dperpeet commented on #1562
I believe I fixed this when I changed all calculations to binary representation. Did I miss anything? The lowlevel formatting routines seem fine.

[2015-01-06 03:28] cmurf commented on #1562
Login > host.localdomain > Storage > under Filesystems is an ext4 volume is reported as 238.0 / 499.4 MB

The first value is almost certainly MiB(IEC), the second value is almost certainly MB(SI). [1]

Next, if I click anywhere on this line, I'm taken to a page about this particular (physical) drive, under Content it lists the four partitions, the partition for the example volume is described as a

[2015-01-06 03:45] cmurf commented on #1621
Seems to be missing from udisksctl -b /dev/sda1 output for me. The IdLabel field is blank, and Symlinks lacks /dev/disk/by-partlabel. It does have /dev/disk/by-id and /dev/disk/by-partuuid though.

Open question if it's more useful to show partition labels or volume labels; typically we care more about locating the fs volume (which may be on more than one partition or not on a partition at all) an

[2015-01-06 07:47] FireDrunk commented on #1621
If you use the Fedora 21 Installer to set the Labels ( it creates a MBR partition by default ), the labels do show up in Cockpit. I don't know about this udisksctl -b command, but i do have udisksctl.

The man page doesn't show anything regarding the command you posted, but it shows some different command options like [info, mount, unmount, unlock, lock, monitor and a few others].

Mayby the synta

[2015-01-06 07:53] cmurf commented on #1621
User error.
$ udisksctl info -b /dev/sda1

[2015-01-06 08:03] FireDrunk commented on #1621
Ah, that works fine indeed. If i use that command on a GPT label it doesn't recognize the label directly, but it is found in the Symlinks section.

[code]

[2015-01-07 08:14] mvollmer commented on #1621
Yes, we should improve this.

For example, if a block device has a filesystem with a label on it, we use that label when showing the block device (in some places) instead of the raw /dev/sda2.  We could extend this with partition labels, and allow the user to change the partition label.  It might get confusing though since then we have two labels for a block device...

Could you describe very conc

[2015-01-07 08:15] mvollmer commented on #1621
Also, how can I modify the label of a partition?  I am a bit naive here...

[2015-01-07 08:29] dperpeet commented on #1562
Did you use the current build?
When I create a 1MiB image, I get the following:
![image](https://cloud.githubusercontent.com/assets/8711649/5642733/faeb3abe-964e-11e4-9775-76a99e03c880.png)

The figures are calculated from bytes via division. Please note loop2 - if either used or total capacity were in SI, the display would switch to MB instead of KB.

Also note the details:
![image](https://cloud

[2015-01-07 08:32] FireDrunk commented on #1621
GPT supports labels on partitions by default.

I'm using them, because i don't want to rely on ID's like sda or sdb. I'm a regular user of BTRFS and ZFS, and because of that, i often change harddrives. In my case, i always format the drives with gdisk, it can easily partition disks with labels and ZFS partition types.

From my home NAS:
[code]
This is my main "point-of-view" regarding my harddrive

[2015-01-07 09:38] dperpeet commented on #1541
The size might not be useless - it might be nice to know when starting a container.

Docker uses the term "Virtual Size". While not perfect, it implies that it's not referring to the size on disk. Currently we access VirtualSize, but the docker API also exposes other values (such as Size).
For derived images I got expected values, but not for the base images (they had size 0). I could look into th

[2015-01-07 09:54] andreasn opened #1623 "tiny checkbox on hidpi screen"
Running on a 13" using a 3200x1800 resolution the checkbox under User accounts is super tiny.

[2015-01-07 09:54] andreasn commented on #1623
![screenshot from 2015-01-07 10 52 27](https://cloud.githubusercontent.com/assets/209895/5643669/909a2438-965b-11e4-906d-769fab56e941.png)

[2015-01-07 09:55] stefwalter commented on #1623
Probably worth filing a patternfly bug? As well as implementing our own fix?

[2015-01-07 14:07] andreasn commented on #1623
Filed as https://github.com/patternfly/patternfly/issues/44

[2015-01-07 16:15] stefwalter commented on #1623
@andreasn is this a 'starter' bug?

[2015-01-07 16:16] stefwalter commented on #1577
The output of ```which``` just needs to be directed to null.

[2015-01-07 16:34] stefwalter commented on #1574
@andreasn Is this ready for a pull request?

[2015-01-07 16:36] stefwalter commented on #1541
Agreed.

In addition we need to represent how much of the entire available space for docker is in use, free. Running out of the free Docker space (eg: /var/lib/docker) is pretty disastrous.

[2015-01-07 19:51] cmurf commented on #1621
Looks like:
parted -s /dev/sdX name Y Z
X is the drive letter
Y is the partition number
Z is the desired name
I haven't tested it yet.

Also note that MBR does not support partition labels. I'm not sure what "It might be a good start, to get the GPT labels shown the same way regular MBR partition labels are shown." means.

[2015-01-07 20:03] cmurf commented on #1562
I haven't tested from master yet. I'll report back if I still see bugs. Two points though:

1. If the unit label will be KB, MB, TB, then the unit values need to be SI based. In your example, the values are IEC units, therefore the labels should be KiB, MiB, TiB. It's no long a quaint difference in convention, it's a NIST requirement, as well as IEC and BIPM saying that the SI labels (KB,MB,TB etc

[2015-01-08 07:40] mvollmer commented on #1577
But note that it gets a useless $PATH.  We might want to investigate where $PATH gets killed.

[2015-01-08 08:22] stefwalter commented on #1577
Sounds good. Separate bug?

[2015-01-08 08:41] mvollmer opened #1624 "$PATH is sometimes "(null)"."
This code in cockpit-services.js

[code]

produces this message in the journal

[code]

This means that $PATH was lost somewhere.

[2015-01-08 08:42] mvollmer commented on #1577
Yup, #1624.

[2015-01-08 08:51] stefwalter commented on #1624
Note for whoever picks this up. Adding debug statements at or around the relevent code in ```src/common/cockpitpipe.c``` is a good place to start debugging this.

[2015-01-08 08:59] #1549 closed

[2015-01-08 09:18] dperpeet commented on #1543
What's worse in that screenshot is that the actual size is elided in order to show more empty progress bar. The graphics are nice, but I can understand the progress even if it's narrower and I need to see the actual numbers.

[2015-01-08 10:38] FireDrunk commented on #1621
MBR Member disk:
![mbr_member](https://cloud.githubusercontent.com/assets/6359704/5661280/4c9bc64a-972a-11e4-83dd-2ce0a9e6856e.PNG)

ZFS Member disk:
![zfs_member](https://cloud.githubusercontent.com/assets/6359704/5661284/513ba86e-972a-11e4-94e7-2b2b3969f919.PNG)

[code]

It shows the disk as /dev/sdb1 but i would rather see data-a.
Maybe it's an idea to introduce more colums to the view:

GPT La

[2015-01-08 11:29] andreasn commented on #1378
Updated the mockup above to differentiate between warnings and errors. Did the error as a red icon to make it stand out even more than the warning and allows to differentiate them with both shape and color .

[2015-01-08 12:37] andreasn commented on #1543
That part of the bug has been fixed since.

[2015-01-08 14:03] andreasn commented on #1535
based strictly on syntax used by journalctl we would have
priority: err, warning, notice, debug
since: 2012-10-30, today, yesterday
unit: nameofservice.service

[2015-01-08 14:04] andreasn commented on #1535
should "err" be "error"?
should "debug" be "all"?
should "unit" be "service"?

[2015-01-08 14:08] dperpeet commented on #1535
I think "error" is better - doesn't take much more space than "err" and is easier to read.

"debug" vs "all" depends on the description. If we talk about the lowest level, then "debug" would be more consistent. Also, "debug" would deviate less from the underlying terminology.

"service" is better than unit, because once we talk about multi-machine environments, "units" may be ambiguous.

[2015-01-08 15:20] sgallagher opened #1625 "Add support for Server Roles"
The [rolekit](https://fedorahosted.org/rolekit) project provides a mechanism for deploying complete server software solutions to a particular machine. Cockpit should provide a user interface for performing these deployments to ease system management setup tasks.

[2015-01-08 15:21] sgallagher opened #1626 "Add support for the Domain Controller Server Role"
The [rolekit](https://fedorahosted.org/rolekit) project provides support for a Domain Controller server role. This role installs and configures the FreeIPA Linux domain controller and is a useful feature for any new network of systems. Cockpit should provide UI to set it up.

[2015-01-08 15:23] andreasn commented on #1625
![Image of Yaktocat](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/roles/roles.png)

[2015-01-08 15:24] andreasn commented on #1626
some specific details for IPA in https://github.com/cockpit-project/cockpit/issues/1625#issuecomment-69193958

[2015-01-08 15:27] andreasn commented on #1535
Note that this is pretty much a braindump at this point. Still a lot of open questions

![mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/0f6ba849489cee84144b15c3c82c8123f9a96b03/journal/journal-search.png)

[2015-01-08 15:28] stefwalter commented on #1625
@andreasn the server summary page is already quite noisy, and doesn't wrap that well. Minor suggestion: put the list of roles at the end of the page (float clear both sides) at least for now.

[2015-01-08 19:01] cmurf commented on #1621
The MBR example is probably showing volume labels. Again, MBR doesn't support partition labels. The ZFS example is probably showing the pool name, matching up with zpool list, rather than filesystem or volume name which would be found with zfs list. So at the moment it's actually consistent behavior. What do you get for the command blkid?

[2015-01-08 19:48] FireDrunk commented on #1621
[code]

Indeed, the disk label is different from the partition label when it comes to blkid.

[2015-01-08 20:28] petervo commented on #1460
I could be way off but my understanding of SSH_AUTH_AGAIN is that it is an invitation to resubmit your credentials when using non blocking mode, usually because there were communication problems. Most libraries seem to just retry with the same credentials in a do while loop. Are you sure we don't want to just automatically retry for them?

[2015-01-08 21:20] stefwalter commented on #1460
But our connect loop doesn't run in blocking mode. It runs synchronously in a thread. Hence the confusion, having seen this in the wild.

[2015-01-08 22:17] cmurf commented on #1621
Yeah everyone keeps reinventing the terminology for every new fs and project it seems.

"disk label" is used to refer to a partition scheme, i.e. MBR and GPT are disk labels. This may have started as a parted convention, but it's common now. Neither MBR nor GPT have a literal disk label, which to me means a user defined name for a physical block device. There's no place to store such a thing.

UEF

[2015-01-09 06:23] FireDrunk commented on #1621
I fully agree, and your analsysis on when it would be useful is flawless. So to move forward with this, what would be the best way to get the information in the detail overview of the partition? Because it's even missing there?

[2015-01-09 10:50] #1615 closed

[2015-01-09 14:10] stefwalter commented on #1618
@dperpeet could you propose a location for the button. If it's easier to do a wireframe, or just to hack the html a bit and post a screenshot for @andreasn?

[2015-01-09 14:14] stefwalter commented on #1623
Is this reported upstream or somewhere?

[2015-01-09 14:31] andreasn opened #1631 "misaligned label on server page"
![screenshot from 2015-01-09 15 31 39](https://cloud.githubusercontent.com/assets/209895/5681013/85fc2296-9814-11e4-9865-50fce79d414d.png)

[2015-01-09 15:51] andreasn commented on #1623
I tested it in Rawhide and things seemed to work better there using Firefox 34

[2015-01-09 16:38] andreasn commented on #1617
As @mvollmer mentioned, the longer term fix is to move the graphs to the services page, but for a quicker fix, we can use the colors:
#7fcbff, #2daaff, #0071c4, #004b7f instead of the grays.

[2015-01-09 16:40] andreasn commented on #821
There is another issue about the exact same thing in #1617.
This issue is older, but the other issue have more information in it, so closing this as a duplicate.

[2015-01-09 16:40] #821 closed

[2015-01-09 18:30] cmurf commented on #1621
It's a question for udisks2 / storaged folks if it is expected to support GPT partitionname/PARTNAME. I'm not sure if python-blivet does, but it supports a bunch of stuff udisks2 doesn't yet including LVM thin pools and virtual sized LVs, btrfs multiple device and subvolumes. In the short term even the thinp stuff is useful. Medium/longer term the btrfs stuff also.

[2015-01-12 03:24] dchem opened #1635 "Docker container terminal output from other machines added to cockpit shows "No such container""
When launching containers from other machines added to cockpit via "Add Host" menu in the cockpit dashboard, enabling "terminal" does not show the correct terminal output of the docker container. Instead, it shows:

[code]

I verified that the container has indeed run properly by logging into the machine itself and then checking the docker log for that container image.

I'm using Cockpit distribut

[2015-01-12 06:11] subhashc commented on #1583
Hi Stef,
Can you provide me cockpit installation guide for RHEL 6.

[2015-01-12 08:21] stefwalter commented on #1583
Cockpit does not build or run on RHEL 6 at this time. Hopefully we can get to that point in the future.

[2015-01-12 12:01] #1631 closed

[2015-01-12 12:07] andreasn commented on #1535
With freeform text as well.
Feedback welcome!

![mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/journal/journal-search.png)

[2015-01-12 12:54] andreasn commented on #1517
I feel there are two different issues here.
One is that deleting a number of container is very labour intensive work. Dive into each container, delete it and then confirm that deletion in the box that pops up.
The second is to be able to perform the same action across several containers in one go.
I tried to sketch up some solutions for the second issue, but the solutions I could quickly come up w

[2015-01-12 14:44] andreasn commented on #1517
![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/containers/docker-container-deletion.png)

[2015-01-12 14:55] andreasn commented on #1297
http://www.freedesktop.org/software/systemd/man/systemd.timer.html

[2015-01-12 14:56] andreasn commented on #1297
With examples https://wiki.archlinux.org/index.php/Systemd/Timers

[2015-01-12 15:40] andreasn commented on #1297
http://www.freedesktop.org/software/systemd/man/systemd.time.html

[2015-01-13 07:33] #1460 closed

[2015-01-13 13:17] stefwalter opened #1644 "Cockpit should only use permissions to update UI"
Cockpit should not enforce permissions in its javascript code. In particular all the calls to ```check_admin()``` are pretty much invalid.

Cockpit can use the credentials of the user to enable/disable various UI widgets or update its display based on what the user can do.

[2015-01-13 14:35] Aayush-Kasurde commented on #632
Do we have a mockup design for managing time settings ?

[2015-01-13 15:08] petervo commented on #1635
I wasn't able to reproduce this on master, of course things have changed quite a bit since then. Does not enabling terminal make any difference?

[2015-01-13 15:59] andreasn commented on #1297
First iteration. Made the overview page closer resemble the systemctl list-timers CLI command.
Spent most of the time on the dialog, so the overview might still be a bit rough. Also currently missing Unit Activation/Deactivation currently.

![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/services/timers.png)

[2015-01-13 16:31] #1522 closed

[2015-01-13 16:38] stefwalter commented on #632
No not yet. I imagine this would go into a dialog on the server summary page (ie: the one that lists the BIOS, host name, and has graphs).

[2015-01-13 16:42] Aayush-Kasurde opened #1646 "Missing 'class=active' for Journal Page"
There is missing highlighting for Journal page as shown in figure

![journal](https://cloud.githubusercontent.com/assets/7703416/5724324/cc240f04-9b70-11e4-89c9-4aee44bb8c04.png)

I am using latest Cockpit version with Fedora 20

[2015-01-13 16:45] Aayush-Kasurde commented on #33
Do we need to include a third-party plugin for datepicker like jquery-ui datepicker or custom datepicker for this functionality ?

[2015-01-13 16:52] stefwalter commented on #1646
Can confirm. Same thing happens here.

[2015-01-13 19:41] #1646 closed

[2015-01-13 19:43] andreasn commented on #33
If that's the easiest way to do it and the license is right, it would be great to be able to reuse that.

[2015-01-13 19:46] stefwalter opened #1648 "Something is creating massive amounts of network connections"
I've been getting massive amounts of network connections as seen here.

[2015-01-13 19:48] stefwalter commented on #1648
[code]

[2015-01-13 20:03] stefwalter opened #1649 "Need to throttle introspection calls"
We need to throttle the introspection calls for DBus services that have lots of objects. The default system bus only allows 128 outstanding calls per connection.

Otherwise you start getting this:

[code]

[2015-01-14 07:23] mvollmer commented on #1635
See #1377.  I think this didn't make it to F21 yet.

[2015-01-14 08:00] stefwalter commented on #1635
@dchem Could you check if this is fixed for you with Cockpit from the following COPR?

https://copr.fedoraproject.org/coprs/sgallagh/cockpit-preview/

[2015-01-14 08:20] #1551 closed

[2015-01-14 08:48] stefwalter commented on #33
It would be good to ask the Patternfly guys what they have in mind WRT date pickers ... so we don't diverge further than we already have.

‘#patternfly’ on chat.freenode.net.

[2015-01-14 09:08] stefwalter opened #1654 "check-multi-machine fails"
This seems like a race. check-multi-machine fails most of the time here on my machine. This happened after @mvollmer updated images. A bug in the system is suspect.

[2015-01-14 09:08] stefwalter commented on #1654
![check-multi-machine-testbasic-fail](https://cloud.githubusercontent.com/assets/795070/5736367/4d34f50e-9bd5-11e4-9fe7-2cd6b6f82c33.png)

[2015-01-14 09:09] stefwalter commented on #1654
The main machine logs say:

[code]

The machine being added says:

[code]

[2015-01-14 09:10] stefwalter commented on #1654
Backtrace

[code]

[2015-01-14 09:10] stefwalter commented on #1654
Tried removing ```wait_for_port()``` as I thought it was confusing things, but had no effect.

[2015-01-14 10:52] #1577 closed

[2015-01-14 11:35] andreasn commented on #1451
Needs support for both mounting a directory on the host and using a volume from another

[2015-01-14 11:56] andreasn commented on #1451
http://docs.docker.com/userguide/dockervolumes/

[2015-01-14 12:12] andreasn commented on #1451
First stab at this. The concept of volumes from a volume container is still a bit fuzzy to me. Don't you need to specify path in the container you want to use it in for that?

![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/containers/docker-volumes.png)

[2015-01-14 12:15] andreasn commented on #1451
Ah, apparently not http://stackoverflow.com/questions/23137544/how-to-map-volume-paths-using-dockers-volumes-from

[2015-01-14 13:32] Aayush-Kasurde commented on #33
Ok, Let us discuss this with #patternfly, I don't see any datepicker in patternfly source.

[2015-01-14 15:06] andreasn commented on #1587
Trying to leverage this with EXPOSE ports and establishing a common pattern with issue #1297

![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/containers/docker-ports.png)

[2015-01-14 15:37] andreasn commented on #1587
I can't quite make up my mind about if it should warn when no ports from EXPORT are mapped, because ideally it should be possible to just hit "Run" without changing any parameters and have a container up and running. On the other hand some containers are fairly unusable without any ports exposed.
I have odiobill/transmission running here at home with only 9091 exposed, even though it ideally also

[2015-01-14 15:41] andreasn commented on #1587
Note that there is no solution for the -P/--expose-all command above, partly because docker gives out those randomly generated numbers only once you hit the Run button. Otherwise we could have given it a random number by default instead of "none" in the host port input boxes.

[2015-01-15 10:47] andreasn commented on #33
Sent a mail to patternfly-list about it:
https://www.redhat.com/archives/patternfly/2015-January/msg00006.html

[2015-01-15 11:15] andreasn commented on #1541
@stefwalter that would be good. Should we solve that in this issue, or should I file a separate one for that?

[2015-01-15 11:19] stefwalter commented on #1541
Yup.

[2015-01-15 11:26] andreasn opened #1662 "Need a good and easy way to tell the size and space avaiable to /var/lib/docker"
Spinning off issue #1541

We need a good way to tell the total size available to /var/lib/docker to support the use cases of the personas Peter and David here:
https://github.com/cockpit-project/cockpit/wiki/Atomic:-Docker-Storage

[2015-01-15 12:14] andreasn commented on #1451
so all data volumes that I've seen has at least one or two things under VOLUME and that corresponds to the directory that get mounted on the container that uses --volumes-from
so for example, maxexcloo/data [1] in it's dockerfile has:
    VOLUME /data
running that, and then running:
    docker run -d -P --volumes-from tutum/wordpress
will then mount the directory /data in / of the wordpress contai

[2015-01-15 12:41] andreasn commented on #1451
Updated the mockup above to use an uneditable field in the case of a container volume.
Gave them boxes around to keep the rows together.

[2015-01-15 12:45] #1654 closed

[2015-01-15 17:16] andreasn commented on #1543
Dumping some prior art here:
Windows 8.1: http://media.askvg.com/articles/images5/Windows_8_1_Explorer_Single_Section.png
Zyksel NAS: http://static.trustedreviews.com/94/27e7c1/7e43/4346-zyxel2.gif
FreeNAS: https://images.duckduckgo.com/iu/?u=http%3A%2F%2Ffarm3.staticflickr.com%2F2153%2F2048111210_09f947bc16.jpg&f=1
Windows Server 2012: https://erpcoder.files.wordpress.com/2013/04/image_thumb.png?

[2015-01-15 22:26] williamjmorenor opened #1665 "Can not link containers inside Cockpit"
Hi

There is a cool feature in docker than let us to link to containers, for example if I wan to run the official odoo image (https://registry.hub.docker.com/_/odoo/ ) first i need to pull a postgres container  and link the odoo container to the db with something like:

docker run -p 127.0.0.1:8069:8069 --name odoo --link db:db -t odoo

if I only download the image from cockpit and run it I got a

[2015-01-15 22:32] williamjmorenor opened #1666 "Docker volumes in Cockpit"
Hi

It could be good to be able to configure volumenes when one container run from Cockpit, I can configure the container name, the memory and CPU limits, and the ports, but I can not configure a volume, for example if I would like to mount the bata base folder of a container to the host for easily backup data.

You can add a data volume to a container using the -v flag with the docker run command

[2015-01-15 22:55] williamjmorenor commented on #1451
Think a made a duplicate issue :(

https://github.com/cockpit-project/cockpit/issues/1666

[2015-01-15 23:28] andreasn commented on #1666
Closing due to duplicate of #1451

[2015-01-15 23:28] #1666 closed

[2015-01-15 23:30] andreasn commented on #1451
@williamjmorenor no worries. I would rather have one duplicate too much, than one report too little.
I've now closed the duplicate.

[2015-01-16 08:34] stefwalter commented on #1648
@mvollmer do you see this on your machine?

[2015-01-16 08:37] stefwalter commented on #1665
Makes sense.

[2015-01-16 08:39] stefwalter commented on #1619
I don't think there's a way to add effective groups to a running process without that process having root privileges. So I don't think we're going to get away from logout/login.

[2015-01-16 08:40] stefwalter commented on #1597
Done in Fedora.

[2015-01-16 08:40] #1597 closed

[2015-01-16 08:42] stefwalter commented on #1495
Fixed in #1642

[2015-01-16 08:42] #1495 closed

[2015-01-16 08:43] stefwalter commented on #1477
Very good observations. Splitting out the typo fix, as a starter task for someone.

[2015-01-16 08:43] stefwalter opened #1667 "Search image dialog typo"
The dialog title is "search image" - is this proper English? Shouldn't it be "search for image"?

[2015-01-16 08:44] stefwalter commented on #1667
Split out from #1477

![searchimage](https://cloud.githubusercontent.com/assets/6277245/5013031/5dcea950-6a93-11e4-9e06-12f2e8b0b7fc.png)

[2015-01-16 08:46] mvollmer commented on #1648
You mean all those `/org/freedesktop/NetworkManager/Settings/130` objects?

I don't see them in my VMs, but on my laptop, all related to wireless.

[2015-01-16 08:47] stefwalter commented on #1443
Exiting the process in the container stops the container. That's expected. What's not expected is the exception. @jscotka Does the exception still happen with the new Docker terminal code (in recent releases or git master)?

[2015-01-16 08:47] stefwalter commented on #1415
I think this is fixed, right?

[2015-01-16 08:47] #1415 closed

[2015-01-16 08:48] stefwalter commented on #1407
Not a Cockpit bug.

[2015-01-16 08:48] #1407 closed

[2015-01-16 08:48] mvollmer commented on #1648
[code]

Bit insane, yep.

[2015-01-16 08:50] dperpeet commented on #1587
If a container defines ports to be exposed, I think a user shouldn't be able to delete those rows. Also, their internal port should be non-editable. Otherwise you could delete a row by accident and to restore the default state you would have to close and reopen the dialog.

[2015-01-16 08:52] mvollmer commented on #1648
No sorry, they are for "tapN" interfaces, so they are probably created as a reaction to what our test suite does.

[2015-01-16 08:53] stefwalter commented on #1297
@rhamilto I see bootstrap-datepicker as a bower component dependency in the latest the patternfly source code. I guess that should be our go to for date selection.

[2015-01-16 08:58] stefwalter commented on #1648
Interesting. Ok, i'll close this, not our bug, right?

[2015-01-16 08:58] #1648 closed

[2015-01-16 09:12] #1624 closed

[2015-01-16 10:17] andreasn commented on #1587
All right, I think that could work.

[2015-01-16 12:16] dperpeet opened #1671 "Integration testing: quick start missing important notes"
Possible errors when following quick start in [test/README](https://github.com/cockpit-project/cockpit/blob/d88b2311ee4d6c5f491974be4514b36fcb834e6e/test/README):
* phantomjs only installed in local cockpit dir, but needed globally for testing
* ``mock`` may issue a warning when user is not in group ``mock``, which leads ``vm-install`` to fail during ``testsuite-prepare``

[2015-01-16 12:29] andreasn commented on #1587
https://github.com/andreasn/cockpit/tree/expose-extra-ports

[2015-01-16 13:49] petervo opened #1673 "bridge PATH for ssh logins"
When you login with ssh, PATH is determined by the user you are using that machine with. We need to decide if we want to hard code PATH in the bridge to ensure it's always consistent with non ssh logins or we want to allow machine specific PATHs.

[2015-01-16 14:17] rhamilto commented on #1297
@stefwalter, I'm guessing you're mistaking

    "bootstrap-combobox": "~1.1.6",
    "bootstrap-select": "~1.5.4",
    "bootstrap-treeview": "~1.0.1",

to include `bootstrap-datepicker` as https://github.com/patternfly/patternfly/blob/master/bower.json doesn't (yet) include bootstrap-datepicker.  :)

regardless, bootstrap-datepicker seems like a good choice and is probably the one i'll include shou

[2015-01-16 14:53] Aayush-Kasurde commented on #1297
Can we consider bootstrap-datetimepicker https://github.com/Eonasdan/bootstrap-datetimepicker as it provides additional functionality of choosing time as well?

[2015-01-16 14:55] stefwalter commented on #1297
@Aayush-Kasurde makes a good point.

@rhamilto I did see the string 'bootstrap-datepicker' when i grepped the patternfly repo, hence my suspicions that you were leaning that way :)

[code]

[2015-01-16 21:01] dchem commented on #1635
@stefwalter Will do. Thanks.

[2015-01-19 12:24] sgallagher opened #1674 "Terminal logout blocks reentry"
If one accidentally exits the shell in the Terminal tool, they are disconnected. There is no indication of how to reconnect after this point. (One can reload the browser, but until that is done, the Terminal remains disconnected). We should really provide a better user experience for this.

[2015-01-19 12:56] dperpeet commented on #1674
Described in #1618, solution proposed.

[2015-01-19 12:56] #1674 closed

[2015-01-19 13:02] stefwalter opened #1675 "Mock kubernetes suite and initial tests"
We should add some mocks so we can unit test the kubernetes code. And add initial tests.

[2015-01-19 13:04] stefwalter opened #1676 "Functionality for creating objects in Kubernetes"
Add functions to the kubernetes client for creating objects in kubernetes, such as a Pod, Service, Replication controller.

[2015-01-19 14:45] andreasn commented on #1665
http://docs.docker.com/userguide/dockerlinks/

[2015-01-19 15:33] andreasn commented on #1297
If possible, I would like to keep the Date and Time pickers separate. The reason for that is that the time picker is also present in the repeat hourly/weekly/monthly entrys. This then stays consistent if you switch to repeat yearly.

[2015-01-19 15:43] andreasn commented on #1379
![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/journal/journal-links.png)

[2015-01-19 15:44] andreasn commented on #1379
The link would go to the accompanying service page. The kernel doesn't have a service page, so nothing for that.

[2015-01-19 18:57] stefwalter commented on #585
We don't want to have to bring the legacy ```cockpitd``` component and its dependencies for several reasons. But importantly, it doesn't work well on Atomic.

[2015-01-19 18:58] stefwalter commented on #539
Duplicate of #1596

[2015-01-19 18:59] #539 closed

[2015-01-19 19:00] stefwalter opened #1678 "No udisks in Atomic"
Udisks and storaged are not available in Atomic. We need to figure out how to run this, or use something else for managing LVM, devices, and file systems.

[2015-01-19 19:01] stefwalter opened #1679 "No accountsservice in Atomic"
We need to migrate away from accounstservice so we can run on Atomic.

 * In general accountsservice doesn't give us much that libuser and the user tools can't do.
 * It doesn't support the root account, which we want to do.

[2015-01-19 19:01] stefwalter opened #1680 "PCP not usable on Atomic"
PCP is not usable on Atomic. Even when we copy the libraries that cockpit-bridge depends on, we get failures on startup due to missing precompilers and pmda modules.

We should be able to use Cockpit on Atomic without PCP

[2015-01-19 19:05] stefwalter opened #1681 "Only show 'Join Domain' if realmd is available"
The 'Join Domain' functionality is broken on Atomic, because realmd, sssd, and all the other stuff is not available. This should be disabled on Atomic.

In general, we should move the realmd logic out of cockpitd, and access realmd directly. In addition we shouldn't display the 'Join Domain' button if realmd DBus service is not available.

[2015-01-20 08:44] stefwalter opened #1683 "Migrate to Kubernetes v3 API"
Migrate from the v1beta1 API to the v3 API.

[2015-01-20 08:45] stefwalter opened #1684 "Use kubernetes api server to monitor for changes"
Rather than monitoring for changes using ```etcd``` use the kubernetes API server to monitor for changes directly. This will remove the ```EtcdMonitor```

[2015-01-20 09:57] dperpeet opened #1685 "Docker: bind container port to host port doesn't work"
Binding ports from container to host doesn't work via cockpit, works when starting via CLI.
* Run dialog:
![docker_run](https://cloud.githubusercontent.com/assets/8711649/5815098/bdcf8862-a092-11e4-9c06-4601604aeb9f.jpg)
* Running container:
![docker_running](https://cloud.githubusercontent.com/assets/8711649/5815101/c29d23cc-a092-11e4-847f-a9954f43fb68.jpg)
* This is what we should get (started v

[2015-01-20 10:18] andreasn opened #1686 "broken layout in container"
![screenshot from 2015-01-20 11 17 36](https://cloud.githubusercontent.com/assets/209895/5815449/01b956d6-a096-11e4-9dca-7c4dc7d15a0e.png)

[2015-01-20 10:18] andreasn commented on #1686
Not sure when and what caused this exactly

[2015-01-20 10:44] andreasn commented on #1686
part of this is the container-info-table class and part is the fact that the terminal lacks a col-sm-7 class

[2015-01-20 11:10] stefwalter opened #1687 "Initial implementation of Cluster Dashboard"
As mentioned on the wiki page one of the use cases is a cluster dashboard.

The use case:

https://github.com/cockpit-project/cockpit/wiki/Atomic:-Kubernetes-dashboard#d-browse-the-cluster

[2015-01-20 11:12] stefwalter commented on #469
This has been reworked, and I don't think this bug is relevant anymore.

[2015-01-20 11:12] #469 closed

[2015-01-20 11:12] stefwalter commented on #615
Done.

[2015-01-20 11:12] #615 closed

[2015-01-20 11:17] stefwalter commented on #746
Duplicate of #615 1378

[2015-01-20 11:17] #746 closed

[2015-01-20 11:20] stefwalter commented on #1683
@sub-mod noted that the v3 API is not supported on Fedora 21. Since Fedora 21 is at present our main development and integration test platform, we should delay this work in order to not impinge our productivity.

[2015-01-20 11:24] stefwalter commented on #1676
This means implementing PUT, POST, DELETE support in our KubernetesClient.

[2015-01-20 11:32] #1618 closed

[2015-01-20 11:37] sub-mod opened #1688 "PUT, POST, DELETE support in kubernetesClient"

[2015-01-20 11:55] stefwalter commented on #1676
Duplicate of #1688

[2015-01-20 11:55] #1676 closed

[2015-01-20 12:25] stefwalter commented on #1671
Fixed by #1672

[2015-01-20 12:25] #1671 closed

[2015-01-20 12:29] stefwalter commented on #1687
![v3_console_services](https://cloud.githubusercontent.com/assets/795070/5817088/388d9962-a0a8-11e4-9456-75a790d09f53.png)
![v3_console_services_memory](https://cloud.githubusercontent.com/assets/795070/5817090/3c03d750-a0a8-11e4-903a-ab4faf28dfaa.png)

Designs shared with Openshift from here: https://github.com/openshift/openshift-origin-design/tree/master/V3%20console

[2015-01-20 12:31] stefwalter commented on #1687
The implementation will include everything below 'the Services heading'

The following are not included in this implementation:
 * Top nav will come from Cockpit
 * Left sidebar will be Cockpit Kubernetes dashboard specific
 * deployed: ...
 * Breadcrumbs will be different and/or not present

[2015-01-20 12:33] stefwalter commented on #1687
@crobinson Question about design. What happens when you click on the large ```>``` next to pods? I imagine that a pod specific display is shown? Has this part been designed yet?

[2015-01-20 13:52] stefwalter commented on #1097
Related to #1690

[2015-01-20 15:21] andreasn commented on #1544
So this goes outside the scope of this bug a bit and breaks up the reboot and shutdown actions into separate dialogs. This would decrease the risk of shutting down by accident when you want to reboot (and if it's a remote system, that's a mistake that could cost you quite some time).
It would also make the label for the button nicer.

![Mockup](https://raw.githubusercontent.com/cockpit-project/coc

[2015-01-20 15:24] stefwalter commented on #1544
Very good. Although the implementations of those dialogs could be the same, and just change itself a bit to fit the two contexts.

[2015-01-20 15:28] dperpeet commented on #1685
[start function](https://github.com/cockpit-project/cockpit/blob/fecb363bf1a3514c740b4d28fa60b40061d233be/pkg/shell/cockpit-docker.js#L1746-L1759) doesn't take options parameter that is filled with the exposed ports.

[2015-01-20 15:32] dperpeet commented on #1685
I will fix this together with #1587

[2015-01-20 15:33] stefwalter opened #1691 "No way to add "environ" variables"
When spawning a new process you either replace the entire environment or leave it at the one it gets from cockpit-bridge. See ```doc/protocol.md```

We need a way to add environment variables.

[2015-01-20 15:35] stefwalter commented on #1685
A separate commit would be appreciated. This fix could get in much faster.

[2015-01-20 15:51] andreasn commented on #1544
Sure

[2015-01-20 18:02] andreasn commented on #632
Design for setting the time automatically via NTP server or manually with datepicker and clock.

![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/timendate/timendate.png)

[2015-01-20 19:45] jeffvance commented on #1687
Newbie question: why is a goal to "share styling and design with openshift"? Why not ManageIQ, for example?

[2015-01-20 20:50] stefwalter commented on #1687
Because ManageIQ is not working on styling yet. Openshift designers are the ones working on this.

[2015-01-20 23:35] jeffvance opened #1695 "Skip PCP tests when mock-pmda cannot be initialized"
- git clone master branch
- follow instructions here: https://github.com/subhashc/kb/wiki/cockpit-rhel7 (starting at Step 2)
- cockpit running w/ initial kubernetes screen
- make check fails with 1 error (inline below).
There could certainly be a problem with my laptop environment -- host os is f21.

Output from make check:
......
PASS: test-fs 20 /fsdir/simple
PASS: test-fs 21 /fsdir/early-close

[2015-01-21 06:50] stefwalter commented on #1695
For now you need the 'pcp' package installed in order for the tests to pass. This code was merged last week and I've been trying to deal with the fallout @mvollmer

[2015-01-21 08:48] mvollmer commented on #1695
Let's skip the tests when the mock pmda can not be initialized.

[2015-01-21 11:35] sub-mod commented on #1529
I couldn't locate /opt/cockpit4/var/lib/cockpit/machines
So i searched for "machines" file

/var/lib/cockpit/machines

deleted it and restarted cockpit

local machine is now back

[2015-01-21 11:35] andreasn commented on #1662
His name is Robert goddamit

[2015-01-21 11:39] dperpeet commented on #1685
fixed by #1696

[2015-01-21 11:39] #1685 closed

[2015-01-21 12:10] mvollmer commented on #1695
Fixed by #1697

[2015-01-21 12:10] #1695 closed

[2015-01-21 12:25] andreasn commented on #1662
A bit plain, but functional. Clicking the panel jumps to the disk/volume group in Storage.

![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/containers/docker-storage.png)

[2015-01-21 12:25] stefwalter commented on #1662
Nice.

[2015-01-21 16:17] andreasn opened #1700 "Historical graph controls"
* Needs zooming and panning/scrolling for the graphs
* Need to be able to turn historical data on and off

[2015-01-21 16:46] petervo opened #1702 "Permssions UI"
We need to decide on a standardized UI for what the interface should look like when the user doesn't have permission to perform certain actions.

[2015-01-21 16:54] andreasn commented on #1700
Needs more specific use cases.

[2015-01-21 16:54] andreasn commented on #1700
and time indicators

[2015-01-22 06:35] jscotka commented on #1529
Hi,
I have recompiled cockpit to --prefix= /opt/cockpit4, thats why I have longer prefix than compilation directly to /usr dir.

[2015-01-22 09:45] stefwalter commented on #1675
An initial test is here: #1707

[2015-01-22 10:36] stefwalter commented on #1587
Submitted related patternfly styling issue here: https://github.com/patternfly/patternfly/issues/45

[2015-01-22 10:46] stefwalter commented on #1587
Using: fedora/apache:latest image. When i try to map predefined port 80 ->33333 and add an additonal port 8080 -> 80028, i get this error:

![screenshot from 2015-01-22 11 45 33](https://cloud.githubusercontent.com/assets/795070/5854273/43aa1746-a22c-11e4-9f65-18660d956355.png)

[2015-01-22 11:17] stefwalter commented on #1702
Current UI:

![screenshot from 2015-01-22 12 13 23](https://cloud.githubusercontent.com/assets/795070/5854676/abcb8072-a230-11e4-9e2e-2c77b6ab8a01.png)

Possible UI working with disabling buttons, links etc:

![screenshot from 2015-01-22 12 11 47](https://cloud.githubusercontent.com/assets/795070/5854661/7b04048c-a230-11e4-99a0-04a23c136923.png)

[2015-01-22 11:26] dperpeet opened #1708 "Docker: perform input validation container-run dialog"
Currently the run dialog has no input validation.

### Current dialog
![screenshot from 2015-01-22 12 14 51](https://cloud.githubusercontent.com/assets/8711649/5854680/c0281972-a230-11e4-967f-5373e3e41fb7.png)

### Nicely working input validation in current Cockpit is the set password dialog:
![screenshot from 2015-01-22 12 18 56](https://cloud.githubusercontent.com/assets/8711649/5854752/603aaaba

[2015-01-22 12:15] andreasn commented on #1700
https://github.com/cockpit-project/cockpit/wiki/historical-performance-data contains two use cases now.

[2015-01-22 12:17] dperpeet opened #1709 "Test: check-session sometimes fails"
I think it might be due to a possible [race condition in the test](https://github.com/cockpit-project/cockpit/blob/0c5dea0aed66d107263305c60cf0a996efe1f81d/test/check-session#L60-L61)

The test manually kills the user processes and then checks for the session to be ended.
If the killed processes don't respond quickly enough, the check might be too early.

Proposed solution: Instead of only checkin

[2015-01-22 12:24] andreasn commented on #1702
UI looks good. The other option would be to hide the controls, but I think this is better.
Should it mention that you need to talk to another sysadmin to get permissions?

[2015-01-22 12:57] stefwalter commented on #1702
Lets put the user name in the message, instead of 'You', so that it's clear that it's a problem with that user account.

[2015-01-22 13:03] #1587 closed

[2015-01-22 13:07] andreasn commented on #1702
So there are two different cases here:

1. Scruffy is the single sysadmin on the server, but logged in as 'scruffy' instead of 'root'. The solution for him/her would therefore be to log out as 'scruffy' and log in as 'root' and either perform the 'Add Bond' action, or go into Administrator Accounts and make sure that 'scruffy' are allowed to do things like that for now and in the future.

2. Scruf

[2015-01-22 13:18] andreasn commented on #1702
I really like the disabled UI over the dialog in general. The dialog is very surprising with no indication that the action is impossible to do and cuts you off from the rest of the UI until you close it. I would in general advice against dialogs when there is only one action to perform (to close it in this case). This is also what is recommended by the GNOME HIG and by the book Designing Interface

[2015-01-22 14:14] andreasn opened #1712 "container ports gets double border if more than 2"
![screenshot from 2015-01-22 15 14 03](https://cloud.githubusercontent.com/assets/209895/5857095/60b3926e-a249-11e4-9453-24862ec9d017.png)

[2015-01-22 14:30] andreasn commented on #1712
The fix in e30abf5 also fixes a lingering incorrect padding fix that snuck in there.

[2015-01-22 14:52] #1712 closed

[2015-01-22 17:11] andreasn commented on #1544
The "Power Options" label really bugs me. So I was thinking, if we have the "Status: Running since 3 days" maybe this shutdown/reboot label would work really well just below it. It's also close to "Last updated", so in the cases like Atomic where it needs a reboot in to be able to apply the OS updates, the button could suddently grow a 3rd option, that is "Reboot and update"

[2015-01-22 17:12] andreasn commented on #1544
https://github.com/cockpit-project/cockpit/wiki/Atomic:-OSTree-Update

[2015-01-22 17:49] andreasn commented on #1700
http://www.highcharts.com/demo/line-time-series

[2015-01-22 19:55] stefwalter opened #1718 "Add minion to Kubernetes cluster"
Prototype adding a minion to a Kubernetes cluster in a dialog.

[2015-01-22 19:57] stefwalter opened #1719 "Label selector query matching"
Implement label tracking in KubernetesClient and a way to select a set of objects based on a label selector.

In our prototype UI, highlight related objects when one hovers over a service, replication controller, or pod.

[2015-01-23 11:41] #1709 closed

[2015-01-23 13:11] andreasn commented on #1700
So this ended up to be a slight more complex interaction than I first imagined (I started with back/forward and zoom in/out, but that ended up being too flimsy and imprecise).
I tried to solve all the issues for the personas Robert and Sarah. I hope it's possible to do with what PCP and our graph libraries provides, if not, we'll have to scale back a bit.
![Mockup](https://raw.githubusercontent.co

[2015-01-23 13:37] stefwalter commented on #1700
Just saynig "Performance Data" seems a bit terse? We may need to say 'Archive performance data' or 'Store performance data'.

[2015-01-23 13:45] dperpeet commented on #1700
@stefwalter but it also shows current performance data, right? So "store" or "archive" might be misleading.

An example of the "time picker" from [NewRelic](http://newrelic.com/):
![NewRelic time picker](https://cdn.tutsplus.com/net/uploads/2014/01/03_change_time_window.png)

Here is [logic behind it](https://docs.newrelic.com/docs/apm/new-relic-apm/ui-functions/time-picker-setting-time-periods-vi

[2015-01-23 14:30] andreasn commented on #1700
The actual storing of that data goes either straight out to space or is being kept, so I'm leaning towards "Store performance data" being the more correct label.

[2015-01-23 15:06] andreasn commented on #1700
@dperpeet The NewRelic approach to this seems interesting. I certainly agree there are issues with simultaneity monitor realtime data and archive data due to the ongoing updating of data (like when you're hovering a datapoint, and Swoosh, it moved to the left!).
One issue with the popover approach used by NewRelic is that it covers the data point you're looking for. In both Sarah's and Roberts cas

[2015-01-23 15:25] andreasn commented on #1700
This update speed isn't too jarring for example http://code.shutterstock.com/rickshaw/examples/extensions.html

[2015-01-23 15:27] andreasn commented on #1700
While this one totally is: http://canvasjs.com/html5-javascript-dynamic-chart/
Especially since it's jumping to a new datapoint even though you're not moving the cursor.

[2015-01-23 15:31] dperpeet commented on #1700
@andreasn You're right about the issues regarding the "popover" approach by NewRelic. I agree that we don't want controls to cover anything. I like the slider to easily select common ranges and the basic choice between "relative to now" and "relative to a fixed time".
The update speed in [your first link](http://code.shutterstock.com/rickshaw/examples/extensions.html) doesn't appear too jarring, u

[2015-01-23 15:34] andreasn commented on #1700
Good points! I'll keep iterating on this next week.

[2015-01-23 15:49] jeffvance commented on #1667
I like "Image Search" more. Making change now.

[2015-01-23 16:37] stefwalter opened #1722 "Add test for listing pods/services/rc in KubernetesClient"
This is similar to the test in #1707 which just lists minions.

You would need to mock out pods, services, and replication controller data and kubernetes apiserver logic similar to how it's done for minions.

[2015-01-23 16:59] andreasn commented on #1517
@dperpeet had some concerns about the discoverability of the delete action, so I made this alternative mockup:
![Image of Yaktocat](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/containers/docker-container-deletion-alt.png)

[2015-01-26 08:11] #1667 closed

[2015-01-26 09:17] stefwalter opened #1726 "Multiple dashboard redesign"
Cockpit top level navigation needs some tweaks.

 * Support multiple dashboards

Some secondary goals:

 * First time accessing cockpit, arrive at server summary, not a dashboard
 * Have a top level navbar across all parts of Cockpit

[2015-01-26 09:28] stefwalter commented on #1726
Basic design proposal:

![navigation](https://cloud.githubusercontent.com/assets/795070/5897605/08e1f4b8-a546-11e4-9a9d-e9f718bae3c4.png)

![navigation-server](https://cloud.githubusercontent.com/assets/795070/5897606/0e2661c0-a546-11e4-8293-6724646f9422.png)

[2015-01-26 09:50] stefwalter commented on #1726
The set of dashboard top navbar items moves to the right when you go into a machine. It moves back to the left, when you go to one of the dashboards. It doesn't move as long as your mouse is over the navbar.

[2015-01-26 14:25] andreasn commented on #1517
https://github.com/cockpit-project/cockpit/pull/1724

[2015-01-26 15:14] stefwalter commented on #1517
Where is the discussion and points from @dperpeet. I think the second mockup is too cluttered. It's already easy to delete containers by clicking on them, and then clicking 'Delete'. That's the most discoverable manner.

The alternate delete buttons are strictly an optimized path. I think it is acceptable that it isn't pushed in the user's face.

[2015-01-26 15:42] andreasn commented on #1517
@stefwalter we were discussing it over IRC on Friday.

After thinking some more about this over the weekend and playing around a bit with the pull request I think we should go for the first design where the delete buttons are only visible if the check is checked.
The low discoverability is a potential issue, but I agree with stef that it's not blocking the action, there is still the "old" way to d

[2015-01-26 16:09] stefwalter commented on #1726
Blocks on #1544

[2015-01-27 06:08] dchem commented on #1635
@stefwalter Sorry about late reply, I tried using the linked COPR and it works as intended. I see terminal output for other machines.

[2015-01-27 06:10] stefwalter commented on #1635
Great. Good to hear. Closing.

[2015-01-27 06:10] #1635 closed

[2015-01-27 10:11] stefwalter commented on #1718
Depends on #1688

[2015-01-27 11:14] FireDrunk opened #1733 "Trying to compile Cockpit under Ubuntu"
As talked about during the meeting, i started compiling Cockpit on an Ubuntu 14.04.1 Virtual Machine.

After some initial dependency installations i got stock on this error:

(started with ./autogen.sh --prefix=/usr --enable-maintenance-mode --enable-debug)
[code]
The following dependancies are already installed:

[code]
Seems to me, all dependancies have been met (gudev > 165, udisks > 2.09 and a

[2015-01-27 11:23] stefwalter commented on #1733
In this case, pkg-config is looking for the file accountsservice.pc  ... this is usually in ```/usr/lib/pkgconfig/``` or ```/usr/lib64/pkgconfig/```

Is that file installed by libaccountsservice0-0.6.35-0ubuntu7.1 ?

[2015-01-27 11:31] FireDrunk commented on #1733
Ah, good spot. Needed dev verseion of libaccountsservice.

[2015-01-27 11:40] andreasn commented on #1726
I am starting to come to peace with this idea bit by bit :)
So the Journal would be in two places? Is one a single-machine journal and one an aggregated journal?
Does a machine view stay on, say Storage if I switch to another machine and switch back? (Im trying to figure out how much work the use case where you set up a network disk on one machine and then go to another machine and mount it there)

[2015-01-27 11:41] FireDrunk commented on #1733
============================================================================
Testsuite summary for Cockpit 0.37
============================================================================
# TOTAL: 435
# PASS:  403
# SKIP:  27
# XFAIL: 0
# FAIL:  5
# XPASS: 0

A few fails, but i think it compiled fairly ok. Trying to get it running now.

[2015-01-27 11:46] FireDrunk commented on #1733
![cockpit-dev](https://cloud.githubusercontent.com/assets/6359704/5917901/7484817c-a622-11e4-9a40-1a92316dc49e.png)

Well that was easy...

[2015-01-27 11:47] stefwalter commented on #1733
Hmmm those tests pass in Travis CI, which is also running ubuntu. If you run ```make recheck``` you can see the ones that failed.

[2015-01-27 11:53] FireDrunk commented on #1733
[code]

[2015-01-27 12:28] stefwalter commented on #1733
Maybe glib-networking is missing?

Could you run this test like this: ```G_DEBUG=fatal-criticals gdb test-fs```

And report a backtrace as an issue here?

[2015-01-27 12:32] FireDrunk commented on #1733
After installing glib-networking every test succeeds!
(Although there are a lot of non working functions in ubuntu, but thats another topic.)

[2015-01-27 12:33] stefwalter commented on #1733
Wonderful.

[2015-01-27 12:37] #1733 closed

[2015-01-27 12:42] stefwalter commented on #1726
Nope. sorry for that in the mockups. It shouldn't be in the sidebar.

That could be decided. The PatternFly host switcher pattern does stay on Storage when you switch. However this is a separate issue, and orthogonal to this redesign. Whatever we choose here, it's easy to use multiple browser tabs or windows to perform two actions on two machines at once. You should be able to middle click on thin

[2015-01-27 13:56] andreasn commented on #1535
Somewhat related https://brianreavis.github.io/selectize.js/

[2015-01-27 13:57] andreasn commented on #1535
https://www.patternfly.org/wikis/patterns/search/

[2015-01-27 14:31] andreasn commented on #1726
Sounds good

Mostly trying to figure that out since it could regress compared to our current ui.

[2015-01-27 15:41] andreasn commented on #1700
So I've done a bunch of more iterations on paper, and one of the approaches I did was a dropdown with ending-now/running, but that's pretty much a pause button. This is very mode-ish though, and I've think we can achieve pretty much a pause, but without changing modes.
So, what if:
* Clicking (instead of hovering) an individual point brings up the details for that.
* Once clicked, the graph doesn'

[2015-01-27 16:17] petervo opened #1735 "Use delete icon for deleting"
Removing servers (dashboard) and containers (docker) currently use the close icon instead.

[2015-01-27 16:45] stefwalter opened #1737 "Escape the Kubernetes REST URIs correctly"
In KubernetesClient we need to escape the Kubernetes REST API variable components correctly with ```escapeURIComponent```

[2015-01-27 16:52] stefwalter commented on #1737
All the lines that look like this: https://github.com/cockpit-project/cockpit/blob/master/pkg/kubernetes/kubernetes.js#L132

Need to have escapeURIComponent(xxxx) added around the variable part of the path.

[2015-01-27 16:58] stefwalter opened #1738 "Implement label selector widget"
Today we discussed a label selector widget with the Openshift guys. This would restrict the items in the current view to those matching the given Kubernetes label selector.

[2015-01-28 06:30] stefwalter commented on #1735
@andreasn could you note the new icon that should be used, and the size?

[2015-01-28 10:19] andreasn commented on #1735
Icon is pficon-delete and text-size is 14px
Should be fixed in the pull request above.

[2015-01-28 10:52] #1517 closed

[2015-01-28 11:58] andreasn commented on #473
Obsolete. Closing.

[2015-01-28 11:58] #473 closed

[2015-01-28 12:35] stefwalter commented on #1735
The pull request #1739 only fixes half of the issue here, it doesn't change the dashboard.

[2015-01-28 12:59] andreasn commented on #1735
True. I wanted to do that as a separate pull request.

[2015-01-28 14:37] FireDrunk opened #1740 "Json-CRITICAL building on Ubuntu 14.04.2"
When i do a full build on Ubuntu 14.04.2, 2 tests fail:
[code]

I've googled this error and it looks like more project have this 'feature'.

(Google: "assertion node null failed json_object_get_string_member" gives a few pointers)

[2015-01-28 15:20] #1740 closed

[2015-01-28 15:39] #1735 closed

[2015-01-28 16:50] #1261 closed

[2015-01-28 16:51] stefwalter commented on #1261
Fixed in #1732 #1741

[2015-01-28 17:01] stefwalter commented on #1215
Changing the language works again. However we don't have any translations done at this point, so the effect on the UI is limited to the language active in the 'Display Language' list.

[2015-01-28 17:01] #1215 closed

[2015-01-28 20:22] jeffvance commented on #1737
Should it be encodeURIComponent()? Some google searching indicates that escapeURIComponent is (or will be) depracated.

[2015-01-29 06:31] stefwalter commented on #1737
@jeffvance Yes. encodeURIComponent() Indeed: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent

[2015-01-29 08:57] #1737 closed

[2015-01-29 09:02] stefwalter opened #1750 "Add test for deleting kubernetes objects"
Add mock apiserver code and unit test for deleting kubernetes objects.

[2015-01-29 09:02] stefwalter commented on #1675
Initial testing is done.

[2015-01-29 09:02] #1675 closed

[2015-01-29 10:05] stefwalter commented on #1595
This is likely necessary for docker without the 'docker' group. We want to try and escalate permissions using polkit, if the user is in the wheel group, but if that fails we should just try to access the docker socket as ourselves.

[2015-01-29 14:26] stefwalter commented on #1687
Newer designs https://docs.google.com/presentation/d/1DjB_AUFh8AQLa7lUqNG6tSuKS_h7WNMqzZ6dXAztwlI/edit?pli=1#slide=id.g45defb563_2_25

[2015-01-29 15:11] mvollmer commented on #1700
We'll first implement this on the multi-host dashboard, no?

[2015-01-29 15:12] stefwalter commented on #1700
I'm working on multiple dashboard support. The Machines dashboard becomes one of them. So this doesn't block on that work.

[2015-01-30 06:18] stefwalter commented on #169
Closing this. I don't think we're going to use OpenSLP.

[2015-01-30 06:18] #169 closed

[2015-01-30 11:41] andreasn commented on #1665
https://www.youtube.com/watch?v=Pe6a8Jbvi9E

[2015-01-30 12:18] andreasn commented on #1665
Can you only link to one container at a time, or is it possible to link to several?

[2015-01-30 14:43] stefwalter opened #1757 "Proper patternfly alerts for failures"
We have a lot of dialogs popping up for failures. This does not fit in with patternfly or good design in general. There's an alert pattern, where a bar is displayed instead.

[2015-01-30 14:43] stefwalter commented on #1757
In many cases, such as a dialog performing an action, when there is an error, I think that this alert whould show up in the dialog or context of the action being performed.

[2015-01-30 14:45] stefwalter commented on #1757
Patternfly alerts: https://www.patternfly.org/widgets/#alerts

[2015-01-30 14:47] stefwalter commented on #1757
Current situation:

![screenshot from 2015-01-30 15 46 53](https://cloud.githubusercontent.com/assets/795070/5977334/3e00ea6a-a897-11e4-8a69-ecaec149e0fc.png)

What patternfly recommends:

![screenshot from 2015-01-30 15 45 23](https://cloud.githubusercontent.com/assets/795070/5977337/4cec017c-a897-11e4-83a3-70789daf57c2.png)

[2015-01-30 15:14] andreasn commented on #1665
Following the premise that linking to several containers is possible (it is not mentioned directly in http://docs.docker.com/userguide/dockerlinks/ but implies it by saying "First, Docker will set an <alias>_NAME environment variable specifying the alias of each target container that was given in a --link parameter.").

![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/mas

[2015-01-30 15:19] williamjmorenor commented on #1665
Looks great, can this mockup merge with the mockup for add volumes in #1451 ?

[2015-01-30 15:20] andreasn commented on #1757
I like this idea. Lets try and hunt these down and list them here.
How did you manage to trigger the docker delete one. I thought delete was always insensitive when running.

[2015-01-30 15:25] andreasn opened #1758 "LVM - no other disks to join"
Running on a VM with only one disk in it.
Under Physical volumes I pressed Add.
Got presented with an empty dialog. Either the Add button needs to be disabled or there should be some kind of helper message in the dialog.

[2015-01-30 15:25] andreasn commented on #1758
![screenshot from 2015-01-30 16 22 36](https://cloud.githubusercontent.com/assets/209895/5977992/a2a757a6-a89c-11e4-8b43-b8f8535f2a5d.png)

[2015-01-30 15:38] stefwalter commented on #1758
This needs a patternfly alert

[2015-01-30 15:40] stefwalter commented on #1757
Look for show_unexpected_error in the code:

[code]

I stopped it while we had the 'Do you want to delete' prompt open. :D

[2015-01-30 15:43] andreasn commented on #1757
Hehe, nice (but totally possible) edge case

[2015-01-30 15:51] andreasn commented on #1665
Volumes and links are somewhat different of nature I think, especially since volumes can get data from the host, so I would keep them separate.

[2015-01-30 15:51] stefwalter opened #1760 "Dashboard graphs discard already loaded data, when you change graph tabs"
The dashboard graphs now discard any already loaded data when you change graph tabs. It used to be the case that this data remained available. Now, each time I click to a new tab, everything starts again from the right.

[2015-01-30 15:56] #1686 closed

[2015-01-30 17:00] andreasn opened #1762 "Duplicate timestamps on dashboard graph?"
duplicates of 17:56, 17:57 etc.
![screenshot from 2015-01-30 17 59 20](https://cloud.githubusercontent.com/assets/209895/5979651/d21ac24a-a8a9-11e4-941e-1cc5cd0b8250.png)

Is this actually 17:56:00 and 17:56:30?

[2015-01-31 00:45] jeffvance opened #1766 "hang when repeat same hostname or same ip when adding a remote host"
Cockpit Version 0.38.
Attempting to add a remote host to cockpit using hostname and same credentials, but receive error:
   "Cockpit is not installed on the host."  # still debugging as to why, but that's not this issue...

If I retry using the same hostname, instead of the above error it just hangs.
If I retry using the IP of the remote host I see the same "Cockpit is not installed on the host" e

[2015-02-02 16:33] jeffvance commented on #1766
This problem may be related to different cockpit versions: 0.38 on my laptop but 0.27 on the VMs.

[2015-02-04 10:29] e-minguez commented on #1581
In my tests, the no-tls.conf needs to "clear" execstart first:
[code]
(because ExecStart doesn’t allow overwrite the /usr/lib/… default without first “clear” it)

[2015-02-06 14:47] stefwalter opened #1776 "Highlight legend in big graphs"
In the server memory graphs highlight the legend for the series that the mouse is hovering over. That'll help with identifying what it actually is.

[2015-02-06 15:35] #1702 closed

[2015-02-06 15:38] #1644 closed

[2015-02-07 17:49] kkaempf opened #1779 "Path to docker is wrong for (open)SUSE"
For (open)SUSE, it's `/usr/bin/docker` instead of `/var/lib/docker`

[2015-02-07 17:50] kkaempf opened #1780 "cockpit.pam is missing from release tarball"
`cockpit.pam` is referenced by the .spec file but not included in the release tarball not is it available in the git checkout.

[2015-02-08 09:41] stefwalter commented on #1069
Fixed by 5ea06f9ab4244ae5cf1cc5350312e7b88bfaa239

[2015-02-08 09:41] #1069 closed

[2015-02-08 09:44] stefwalter commented on #1779
I only see ```/var/lib/docker``` in pkg/shell/cockpit-docker.js where we are monitoring the directory for changes, in order to update the containers page display. I think ```/usr/bin/docker``` refers to the binary docker command. So they are not the same thing. Where does docker store its images/containers by default on openSUSE?

[2015-02-08 11:20] #1665 closed

[2015-02-08 16:35] petervo commented on #1779
The docker api endpoint info returns the location it's running in, might be worth using that in cockpit-docker.js

[2015-02-08 18:35] mvollmer commented on #1762
Yep, good catch.

[2015-02-08 19:03] mvollmer commented on #1780
It is in `.../test/` and `make-srpm` magically copies it from there.

Yeah, this is a bit of a mess.  We only have the Fedora spec and pam files in our sources because we use them to build an rpm for the integration tests, which are also in our sources.

The release tarball does neither contain the spec nor the pam because it doesn't contain anything relating to the integration tests (but it does

[2015-02-08 19:03] #1780 closed

[2015-02-09 08:29] kkaempf commented on #1779
Argh, no, this was entirely my fault. Cockpit and Docker are doing fine on SUSE without this path.

[2015-02-09 08:29] #1779 closed

[2015-02-09 09:23] pvoborni opened #1788 "Allow reauthentication for embedded plugins"
With GSS API, embedded plugins in 3rd party apps automatically authenticates (e.g. when user has valid krb ticket) and cockpit creates a session for the user+browser. This session is kept even when user principal changes. So far it's a correct behavior. But when 3rd party app destroy its session and reauthenticates as the new principal, cockpit session will still hold the old principal and therefo

[2015-02-09 09:31] stefwalter commented on #1788
/me wonders if adding a query string arg to the end of the component url. The query string arg drives the cookie that is used. That means you can use various cookies at will, and essentially accomplish multiple distinct and concurrent logins to cockpit at the same time in the same browser.

[2015-02-09 09:44] stefwalter commented on #1779
@petervo does make a good point though. @petervo could you break that out into a separate issue?

[2015-02-09 10:16] stefwalter commented on #1193
Fixed by 7f0a31e44b6f590728c02689784a031f14e07e85. We refuse to build on this version.

[2015-02-09 10:16] #1193 closed

[2015-02-09 10:21] stefwalter opened #1789 "Be abl eto tweak required password strength/hash for local accounts"
We may want to have a drop down on the 'Admin Accounts' page to set the password hash strength and password requirements.

[2015-02-09 10:21] stefwalter commented on #1789
![screenshot from 2015-02-09 11 21 21](https://cloud.githubusercontent.com/assets/795070/6104444/d2722778-b04d-11e4-8574-75c3661aa9f2.png)
![screenshot from 2015-02-09 11 21 24](https://cloud.githubusercontent.com/assets/795070/6104443/d2714042-b04d-11e4-9782-35b5d47e6187.png)

[2015-02-09 14:56] bachradsusi opened #1790 "cockpit allows root log in using his password even when sshd is configured to not permit root login"
It means that when admin disallow user root login via sshd, it's still possible via cockpit where as far as I know is terminal emulator which makes it effectivelly same as login via ssh.

So it would be great if cockpit could somehow share PermitRootLogin configuration with sshd.

The global configuration of sshd could be dumped using '/usr/sbin/sshd -T'. However, sshd_conf support Match blocks an

[2015-02-09 23:50] yuergen commented on #1461
Hello @stefwalter, I just stumbled here. I just tried out cockpit while I set up a few test systems and when I disabled password authentication for ssh cockpit broke. This is seems to be perfectly alright because there is no way to use a ssh key with cockpit.
I understand you plan to add this functionality by making it possible for the user to supply keys to cockpit. I would be perfectly fine with

[2015-02-10 00:09] yuergen opened #1792 "Can not connect to host using a ed25519 host key"
Cockpit is not able to connect to a target host, when the target host's sshd_config is set up like this:
[code]
--> Everything except for ed25519 is disabled.

The entry in the journal is:
`cockpit-ws[28101]: 192.168.1.1: couldn't connect: kex error : no match for method server host key algo: server [ssh-ed25519], client [ecdsa-sha2-nistp256]`

Did I set up something wrong? Can I supply more infor

[2015-02-10 00:21] yuergen commented on #1792
This issue seems to have something to do with an old entry in /var/lib/cockpit/know_hosts.

If I remove the old ecdsa public key from this file I get another error message as follows:
cockpit-ws[6119]: 192.168.1.1: couldn't connect: kex error : no match for method server host key algo: server [ssh-ed25519], client [ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,ssh-rsa,ssh-dss]

[2015-02-10 06:07] stefwalter commented on #1792
I suspect this is libssh: http://www.libssh.org/

I think that 'ed25519' isn't in a release yet. @gladiac can confirm.

I'll close this bug. But if you do find that this is a Cockpit bug, then please let me know and I can reopen it.

[2015-02-10 06:07] #1792 closed

[2015-02-10 06:09] stefwalter commented on #1461
Exactly. I was talking with @gladiac about libssh and how we can accomplish that using an ssh agent, so we don't have to hand keys around. But either way we can make this work.

[2015-02-10 06:15] #1662 closed

[2015-02-10 06:19] #1718 closed

[2015-02-10 06:23] #1760 closed

[2015-02-10 06:24] gladiac commented on #1792
We will support ed25519 keys with the next release. I'm just not sure if I release now or wait for chacha20-poly1305 encryption being finished.

[2015-02-10 06:40] stefwalter commented on #1790
Hmmm, I wonder if we should have a big 'respect ssh login settings' knob to control this. In many distros it would be on by default. I wonder where such a knob would live. Needs a bit more thought.

Are you interested in helping implement such a PAM module? It could be incubated in our sources. We already have raw C code and PAM module in src/reauthorize.

[2015-02-10 09:34] pvoborni commented on #1788
I guess it could work. The query string could be also used for other settings of the embedded plugin.

[2015-02-10 11:56] clemenko opened #1795 "Host add through API?"
I would like to automate adding hosts to a "master" cockpit server. Obviously it would need to include login credentials.

[2015-02-10 11:57] clemenko opened #1796 "Pass thru auth support for cockpit-ws and cockpit-session"
I would like to use x509 to authenticate end users instead of passwords.

[2015-02-10 12:08] yuergen commented on #1792
Thank you for your quick answer. I have no idea about the schedule of chcha20-poly1305, yet I am looking forward to be able to use ed25519 host keys. :)

[2015-02-10 12:09] yuergen commented on #1461
Thank you for another quick answer. I am keen to finally ditch password authentication. :)

[2015-02-10 13:17] dperpeet opened #1798 "Test/Terminal: convenience function for whitespace terminal output"
Checking the text output from a terminal is sometimes problematic due to string encoding issues. It would help testing if we had a convenience function to convert all non-breaking whitespace to a defined format to test against.

[2015-02-10 14:11] stefwalter commented on #1796
Do you have a plan for how you think this would work?

My first reaction is that that this is out of scope. People can use certificates to get their kerberos ticket, and then use kerberos tickets with the GSSAPI support in Cockpit. That's the best mechanism to support all sorts of login methods, such as OTP etc.

[2015-02-10 14:22] clemenko commented on #1796
With x509 we require a user certificate. We validate the user's cert against a CA. Once validated we then pull the Username out of the DN. Once it is validated we consider that a successful auth process. And then give them access to the app/system as the Username. This eliminates the use of passwords enterprise wide.

[2015-02-10 19:14] stefwalter opened #1801 "Choose better SSL cipher and version settings"
We need to choose better SSL cipher and SSL cert settings. The ones we currently use have at least the following problems:

 - client side cipher ordering
 - server supports RC4 ciphers
 - server has SSLv3 enabled

[2015-02-10 19:29] stefwalter commented on #1801
@danwinship How do I tweak the above settings when using glib-networking and GTlsServerConnection?

[2015-02-10 20:47] danwinship commented on #1801
There's currently no way to do it other than setting the G_TLS_GNUTLS_PRIORITY environment variable to an appropriate gnutls "priority string". (With the accompanying warnings about not calling setenv after any threads have been started.) This is what epiphany is currently doing to disable SSLv3 to prevent POODLE.

https://git.gnome.org/browse/glib-networking/tree/tls/gnutls/gtlsconnection-gnutls.

[2015-02-11 07:56] steve--d opened #1803 "Feature: Support reverse proxy"
Supporting apache (and other) reverse proxy's would be helpful.

Typically I would say just adding a suburi option ie: cockpit-ws --base /cockpit but I noticed that even proxying / -> http://localhost:9090/ doesn't work properly.

[2015-02-11 09:27] mvollmer opened #1804 "Double tooltip for docker storage warning and typo."
![double-tip](https://cloud.githubusercontent.com/assets/3228183/6144484/f09e4c6a-b1e0-11e4-9929-d89c1f4ea872.png)

Also, "allocated".

[2015-02-11 09:33] stefwalter commented on #1804
Which browser is this happening in?

[2015-02-11 09:41] stefwalter commented on #1803
Are you using a reverse proxies support WebSockets? What are the exact tweaks needed to Cockpit make this work? Can you do the research here?

[2015-02-11 09:59] stefwalter commented on #1801
I think that should work.

@tomato42 What is a good SSL command that I can check the above TLS settings with. I'd like to add a cross check of this to our test suite.

[2015-02-11 11:12] tomato42 commented on #1801
@stefwalter depends on how thorough you want to be. If you want just to check if the SSLv3 is disabled then a simple `openssl s_client -connect localhost:4433 -ssl3` and then parsing the output, scanning for ssl alerts will be enough, similarly RC4 can be checked with `openssl s_client -connect localhost:4433 -cipher RC4`
If you want to do more checks or have easier time parsing the output then ci

[2015-02-11 11:50] mvollmer commented on #1804
Sorry, Firefox 35.0.1.

[2015-02-11 15:08] stefwalter commented on #1687
![service-listing](https://cloud.githubusercontent.com/assets/795070/6149247/9893f52a-b207-11e4-9a63-164255c592b9.png)

A rough design for the overview.

We got feedback, while at devconf in Brno, that the "browse" objects style view, wouldn't be good enough for an overview. The goal of us implementing this stuff is to help people learn about Kubernetes. Hence we need to separate the 'cluster dash

[2015-02-11 15:10] stefwalter commented on #1687
More notes:
 * I believe that 'delete service' and 'delete node' actions happen on the details pages for those (not yet designed).

[2015-02-11 15:25] stefwalter commented on #1687
We should say "Kubernetes Services" and "Kubernetes Nodes" in the headings, to clarify these rather overloaded terms.

[2015-02-12 08:53] whitel opened #1807 "Network Visualization"
As a user, I would like to be able to visualize the various networks on the machine being managed. Keeping track of the networks (multiple vlans for VMs and containers), their interconnections, and their exposure outside the host can be quite confusing.

[2015-02-12 11:02] stefwalter commented on #1796
Interesting. Are you interested in contributing the work here? It'd probably require more effort than it first appears. In addition, obviously the certificates could not be used to connect out to other machines via the dashboard. Those connections are made from cockpit-ws server side, and not the browser itself.

[2015-02-12 11:26] clemenko commented on #1796
I would love to help. What language is cockpit written in? I have a bit of experience with x509 and apache. At work we tend to front end a lot of things with apache/x509.

[2015-02-12 11:33] stefwalter commented on #1796
Cockpit is mainly written in javascript. But the small part that runs on the server is written in C using GLib.

Another idea that's been thrown around, is to figure out what it would take so that deployments like yours could use apache proxy infront of cockpit. We wouldn't use that as a general purpose solution, but if you want to do a more esoteric deployments, with specific authentication, then

[2015-02-12 11:48] clemenko commented on #1796
Apache can pass variables into the http header, such as USERNAME. Then all cockpit would need is to accept the header as "authenticated" and move on. I guess setting an internal flag for the cockpit-ws to allow this. BUT THEN you would want to bind cockpit-ws to localhost so it can't be exploited.

[2015-02-12 13:05] stefwalter commented on #1687
![service-listing](https://cloud.githubusercontent.com/assets/795070/6167875/20001760-b2c0-11e4-9576-2c3ff4eccf69.png)

 * Icons at the end of row
 * Add buttons to the headers
 * More clarifications of where clicking on things goes

And yes, graph hovering will highlight rows as they do in other parts of Cockpit. Haven't designed the graph parts yet here.

[2015-02-12 16:13] #1804 closed

[2015-02-12 16:50] andreasn commented on #1451
as discussed on IRC, lets do the file path freeform. Also added a little dropdown to choose between read only and not.
@petervo are you also doing container volumes as part of this, or should it be a separate issue? I have less experience with container volumes, so the UI suggestions above might not be 100% excellent.

[2015-02-13 04:01] nicekiwi commented on #82
:+1:

[2015-02-13 10:06] andreasn opened #1811 "port inputs in Container Run have too much left padding"
compared to the other paddings in that box.
![screenshot from 2015-02-13 11 06 00](https://cloud.githubusercontent.com/assets/209895/6185576/4ba1e230-b370-11e4-8739-b3bde038df33.png)

[2015-02-13 12:54] stefwalter commented on #1687
HTML mockup here: https://github.com/cockpit-project/cockpit-design/blob/master/kubernetes/dashboard.html#L122

[2015-02-14 06:41] stefwalter commented on #1688
This is done.

[2015-02-14 06:41] #1688 closed

[2015-02-16 07:20] #1811 closed

[2015-02-16 08:14] sub-mod commented on #1687
Just my opinion, but i feel having a tabular display of available Nodes can be slightly inconvenient to get a grasp of all the containers across the cluster.
Instead if we display below the "graphs"  a visualization similar to github commit.
![screen shot 2015-02-16 at 1 39 18 pm](https://cloud.githubusercontent.com/assets/7363264/6208632/94bd964e-b5e1-11e4-9eac-6536b865848a.png)
We can get the en

[2015-02-16 09:17] #1593 closed

[2015-02-16 13:17] stefwalter opened #1817 "Javascript cockpit.transport.host property for default host name"
We should be able to tell which host cockpit.js is going to talk to by default.

This is useful for features like the firewall, which want to show a warning if an action will disconnect you from Cockpit. To implement this the code needs to know whether the browser is connected directly to cockpit-ws, or via SSH.

[2015-02-16 13:18] stefwalter opened #1818 "Pattern for actions that disconnect you from Cockpit"
There's an entire class of actions that would disconnect you from Cockpit
- Stopping cockpit.service
- Changing the firewall to block the port
- Changing the IP address.

We need a decent design (maybe a dialog) for preventing or strongly warning about these actions.

[2015-02-16 14:42] stefwalter commented on #1687
I think initially for the proof of concept we are targetting small clusters of 1 - 10 nodes. But yes, perhaps in the future we could "auto-scale" to visualization like that when many nodes exist.

[2015-02-16 16:19] jeffvance commented on #1687
For the color impaired we should use an additional clue besides color to indicate the service. Eg. font, texture. border, size, etc.

[2015-02-16 16:23] stefwalter commented on #1687
The 'blue' highlight that you see here is a standard patternfly row hover highlight, when the mouse is over the row.

If this is indeed a problem with Cockpit in general, we should work with @andreasn and patternfly team members like @rhamilto to identify a way to make this accessible, and perhaps have a high constrast mode or something like that?

[2015-02-17 06:35] jeffvance commented on #1687
In an earlier comment Stef wrote: "Incomplete: Probably a big button to deploy an application."
Is this in scope for cockpit? I see this being required in openshift console but I didn't consider that cockpit would deploy an app.

[2015-02-17 07:38] stefwalter commented on #1687
Yes, please see the use cases described on the design page: https://github.com/cockpit-project/cockpit/wiki/Atomic:-Kubernetes-dashboard

[2015-02-17 11:09] sub-mod commented on #1687
@stefwalter The more i play with v3 api the more i realize the namespaces will be integral to k8 , I think we need to design namespaces in UI sooner than we planned .Lets have some discussions around how namespaces are going to be part of the dashboard and avoid rework on the dashboard i dont anticpate much effort if we do it now.

[2015-02-17 11:15] dperpeet opened #1822 "problems when build directory is not in source directory"
Our usual build dir is assumed to be [cockpit]/build

If build is somewhere else, e.g. [cockpit]/../../build, some tests fail.

The error message from test-base64.html contains:
`Unable to load resource: http://localhost:36291/cockpit/pkg/base/test-base64.html`

This boils down to calling tap-phantom: [Makefile.am](https://github.com/cockpit-project/cockpit/blob/c6a54e0a4b9ac73684ca362a9b31bdb416e

[2015-02-17 12:54] andreasn opened #1825 "unchecking "Link to another container" has some kinks"
I decided to make this a separate followup on #1772, because it's slightly tricky path to get into this state, and not really blocking.
1. Run a container
2. Select "link to another container"
3. Select a container to link to, but leave the alias field blank.
4. Try run. The dialog will now complain.
5. Try to fix this by unchecking the "link to another container"
6. Run button is still impossible

[2015-02-17 20:48] #1762 closed

[2015-02-18 10:46] stefwalter commented on #1684
@sub-mod Ran into a problem where it seems like calculated fields are not reflected in Kubernetes watches:

https://github.com/GoogleCloudPlatform/kubernetes/issues/4525

At least that's the case for replicationcontrollers. I'd like to wait and see what upstream Kubernetes has to say about this before implementing a work around.

[2015-02-18 11:10] dperpeet opened #1831 "docker: problem while starting/stopping container"
During tests for #1772, hubbot encountered the following error:

![check-docker-testbasic-fail](https://cloud.githubusercontent.com/assets/8711649/6246220/d31b0170-b766-11e4-8388-a231f7be6850.png)

If this errors comes up again, we should look into whether containers are properly stopped. I found references to this error, along with a [possible fix](https://github.com/docker/docker/issues/7015#iss

[2015-02-18 13:04] #1708 closed

[2015-02-18 13:04] #1825 closed

[2015-02-18 13:05] #1822 closed

[2015-02-18 15:11] stefwalter commented on #1684
Known upstream issue. Watching object status doesn't yet work:

https://github.com/GoogleCloudPlatform/kubernetes/issues/2726

[2015-02-19 06:22] stefwalter commented on #1803
The proxy that you are using needs to have WebSocket support. Will close this issue, but please comment here, if you're sure your proxy supports WebSockets, and it still doesn't work.

[2015-02-19 06:22] #1803 closed

[2015-02-19 08:34] stefwalter commented on #1801
@tomato42 #1835 should fix this issue. If you would like, please review.

We are using glib-networking and gnutls. If standard policy is to be enforced, it should be done in those components.

[2015-02-19 08:37] stefwalter commented on #1831
Made a note in the bug upstream that we're affected by this.

[2015-02-19 10:01] stefwalter commented on #1683
Done in #1814

[2015-02-19 10:01] #1683 closed

[2015-02-19 10:07] #1544 closed

[2015-02-19 10:08] stefwalter commented on #1544
This is done in #1768

[2015-02-19 10:27] andreasn opened #1836 "Smiley at success of syncing accounts too silly?"
![screenshot from 2015-02-19 11 25 12](https://cloud.githubusercontent.com/assets/209895/6265058/0b2c37a0-b82a-11e4-979b-34003131fb56.png)

Perhaps better to use pficon-ok [1] in this case.
I wanted to use pficon-ok for successful process in the subscriptions UI, so might as well make the two consistent.

1. https://www.patternfly.org/visual-styles/icons-glyphs/

[2015-02-19 10:52] stefwalter commented on #1687
I've split removed designs related to the browse view. That's a separate work item.

[2015-02-19 10:53] stefwalter commented on #1687
Added the 'namespace' as a first order concept on the dashboard. Suggested by @sub-mod. Good idea.

![dashboard](https://cloud.githubusercontent.com/assets/795070/6265371/dddc13fc-b82d-11e4-86c3-be6f9f81fd3a.png)

[2015-02-19 11:03] andreasn opened #1837 "historical graphs time controls a bit too promintent"
I recall talking briefly to either @stefwalter or @mvollmer about a week ago, so noting this down before I forget.

While buttons rows are more discoverable in the sense that you get a quick overview of the different options right away, they also eat a lot of space and takes attention away from other elements on the screen. Using a dropdown of the different time options might therefore be a better

[2015-02-19 11:07] stefwalter commented on #1837
The buttons should also not be treated as modal. They are shortcuts to scrolling operations. In other words they make more sense as menu items in a drop down.

[2015-02-19 11:13] andreasn commented on #1837
And it that vein it would be possible to show the timescale you're currently looking at. "2 days", "30 minutes" if there is a good way to figure that out.

[2015-02-19 12:13] andreasn opened #1838 "How much RAM do I have?"
So one thing that I've been asking myself while looking at the memory performance graph on my home server is "Sure, 1.5 GB of Memory used, but 1.5 out of what now again?"

If we had this number somewhere in the UI, it would help an admin tremendously in deciding if it's time to buy more RAM for the server or not.

[2015-02-19 13:28] sub-mod commented on #1726
@stefwalter what is the update on this ? Does this effect us ?

[2015-02-19 13:29] stefwalter commented on #1726
It needs to land before we do a proof of concept, so that the Kubernetes stuff can move out of the 'Tools' menu.

But other than that, it does not affect our implementation of the kubernetes dashboard.

[2015-02-19 15:16] stefwalter commented on #1831
Work around posted upstream:

[code]

[2015-02-24 07:27] #1801 closed

[2015-02-24 12:30] stefwalter opened #1851 "Use requirejs instead of our own AMD loader"
Use a simple requirejs instead of our own AMD loader to load cockpit javascript modules.

Our loader has corner cases that don't work. We no longer place special requirements on our loader, such as looking up checksums or resolving package aliases.

[2015-02-24 12:31] stefwalter commented on #1851
We should either:
 * Merge this change before "Protocol Cleanup" is done
 * or have a pull request that we're sure works.

The main idea is that we discover protocol blockers that prevent us from using a standard AMD loader, before the protocol goes stable.

[2015-02-24 12:31] stefwalter opened #1852 "GZIP compressed resources"
We should support GZIP compressed resources, for faster loading. These can be delivered pre-compressed and minified.

[2015-02-24 12:32] stefwalter commented on #1852
We should either:

 * Merge this change before "Protocol Cleanup" is done
 *  or have a pull request that we're sure works.

The main idea is that we discover protocol blockers that prevent us from using GZIP resources before the protocol goes stable.

[2015-02-24 14:28] fridex commented on #644
Is there any mockup design available?

BTW, it looks like there is currently no implementation for changing UID/GID in accountsservice.

[2015-02-24 17:22] sub-mod commented on #1687
@stefwalter The tabular display for Nodes may have a look and feel issue when there are many nodes ans where if the node is in bottom of the list then  the nodes wont be visible to the user.
Scrollbar can solve it , not sure if it is a good UX design.

[2015-02-24 17:28] stefwalter opened #1853 "Move away from accountsservice"
We should be able to manage local accounts without accountsservice:

 * It doesn't let us manage the root account
 * It doesn't do password strength correctly
 * It doesn't let us manage groups
 * We currently use cockpitd legacy wrapper code, and we should get away from this.

Instead we really can use shadow-utils directly.

 * Read and watch ```/etc/passwd``` using cockpit.file() API
 * Read an

[2015-02-24 17:30] stefwalter commented on #644
I've been looking at migrating away accountsservice for this and other reasons. See #1853

[2015-02-24 17:31] stefwalter commented on #1853
No accountsservice in Atomic. #1679

[2015-02-24 17:49] stefwalter commented on #1687
Good point. This needs some thought. A scrollbar might work, with some tweaks. Are you okay with us splitting this out into a separate bug for work after the initial implementation of the dashboard.

[2015-02-24 17:51] stefwalter commented on #1853
Although it's not a DBus API, I think the shadow-utils and the two file formats involved are stable and solid enough to build a UI on top of.

In addition, local user account management is not a core feature of Cockpit. In real deployments, peolpe will use IPA or another domain to manage users. So that makes me more confident in implementing this with shadow-utils.

[2015-02-24 17:52] stefwalter commented on #1853
Note that we never modify the file formats, we rely on tools to do this. We consume the format directly though. It's stable and well documented.

[2015-02-24 17:53] stefwalter commented on #1853
The feature that we do lose is user avatars. However these are not typically used on servers, and not used anywhere in cockpit either. @andreasn are you okay with dropping the local user avatar feature?

[2015-02-24 17:54] stefwalter commented on #1853
Did this research last week on the train.

[2015-02-25 08:57] fridex commented on #1853
Just to be sure... It is planned to move from cockpitd (drop accountsservice calls) and directly spawn shadow-util binary using cockpit.spawn(), isn't it?

[2015-02-25 12:56] stefwalter commented on #1726
After implementing it, the following issues need tweaking:

 * After going to a dashboard, it should be easier to get back to servers than going through the Machines dashboard
 * The top bar is very empty in the default configuration.

Will iterate to fix these issues.

[2015-02-25 15:35] stefwalter commented on #1851
In addition we'll have the option to load cockpit.js without defining an AMD, and affecting how other javascript files load.

I think in general our code should be AMD, but there are cases where this may not be possible, and it may make things more complicated than necessary for plugin authors.

[2015-02-25 16:30] jscotka commented on #1853
Is possible to use command:
 $ getent passwd
It works with all aviable locally configured user databases.

[2015-02-25 16:37] stefwalter commented on #1853
This cockpit feature is *only* about local users. So that's why ```getent``` is not relevant or necessary here.

[2015-02-26 09:22] stefwalter commented on #1853
Yes, that's right. In addition use cockpit.file() to watch and read the relevant files.

One exception, the 'newuser' stuff noted above would go into the Cockpit ```remotectl``` command, and not be invoked directly from javascript.

[2015-02-27 06:50] stefwalter opened #1859 "Define components in manifest.json files"
Instead of just tools, we need a way to define components in a flexible manner:

 * Main menu components
 * Tools
 * Dashboards

[2015-02-27 08:40] mvollmer opened #1860 "Kubernetes: trouble with "localhost" vs "127.0.0.1""
By default, the kube-apiserver seems to listen on 127.0.0.1, and cockpit-bridge connects to "localhost".  For some reason, cockpit-bridge seems to prefer to resolve "localhost" to ::1 instead of 127.0.0.1 and the connection fails.

If I remove the `::1 localhost ...` line from `/etc/hosts`, everything starts to work as expected.

[2015-02-27 08:41] mvollmer commented on #1860
(I have not verified that cockpit-bridge really connects to ::1, that's just an assumption.)

[2015-02-27 08:41] stefwalter commented on #1860
Hmmm, this is also an issue with travis. I wonder if we should see how we can connect to both.

[2015-02-27 08:41] stefwalter commented on #1860
@sub-mod FYI

[2015-02-27 10:58] #1684 closed

[2015-02-27 12:24] fridex commented on #1853
This is a little bit tricky on some systems - passwd does not read from stdin by default (e.g. Fedora). It accepts --stdin option but only for root, thus it would be not possible to change password by non-root user. Is this restriction OK?

[2015-02-27 12:54] stefwalter commented on #1853
Hmmm, good catch. No this is not ok that only root can change passwords, it would be a regression. We need users to be able to change their own passwords.

Should we depend on 'expect' and use it to drive the passwd command? I imagine having such a tool as a dependency would be useful elsewhere in Cockpit too. Here's an example of using expect with passwd:

http://code.seanodonnell.com/?id=21

Obv

[2015-02-27 12:55] stefwalter commented on #1859
Some ideas discussed with @mvollmer

[code]

[2015-02-27 13:02] stefwalter commented on #1853
Some more notes. Only the following users are listed:

 * root, ie: uid=0
 * Users above 1000 with a valid shell

The way to tell locked user accounts is as follows.

 * ```cockpit.spawn(["sed", "-n", "s/\([^:]\+\):!.*/\1/p", "/etc/shadow"], { superuser: true }) ...```
 * Only someone with superuser privileges (usually anyone in wheel) can get the list of locked/unlocked users. Anyone else will no

[2015-02-27 15:29] stefwalter opened #1865 "A better 404 error page"
Cockpit should have a readable 404 error page, since in the future it will also be displayed in many cases when the user types a bad hashbang URL.

[2015-02-27 15:56] stefwalter opened #1867 "Machines objects should be accessed via cockpit.file()"
The machines data should be accessed via ```cockpit.file()``` instead of via cockpitd.

In addition this will move a bunch of machines code out cockpit-main.js and into the dashboard code directly.

[2015-02-27 15:56] stefwalter commented on #1867
Related to #933

[2015-02-27 16:47] stefwalter opened #1868 "Slide up tools menu"
In the new navigation design, tools should be in a slide up tools menu. Tools are components you don't use very often, and shouldn't be always visible in the sidebar.

[2015-02-27 16:47] stefwalter commented on #1868
We could use some elements of the sliders seen here: https://www.patternfly.org/wp-content/uploads/patternfly/tests/form.html

[2015-03-02 06:33] stefwalter opened #1870 "Use new patternfly in index.html"
Use new patternfly in the index code in #1861. And use the proper Patternfly styles for the sidebar.

Example: https://www.patternfly.org/wp-content/uploads/patternfly/tests/tab.html

[2015-03-02 06:34] stefwalter opened #1871 "Spinner while loading content"
While the index.html is loading various components, show a spinner in the far right of the navbar.

[2015-03-02 06:35] stefwalter commented on #1870
Depends on #1862

[2015-03-02 06:36] stefwalter commented on #1871
Depends on #1870

[2015-03-02 07:57] stefwalter commented on #1788
Unfortunately the query string approach won't work as the query string won't be transferred to other resources.

Likely this will require a different base url. That is, cockpit uses ```/cockpit/``` as a prefix for loading resources, but we may need to allow something like ```/cockpit+embedder/``` or something like that. Then the two wouldn't share the cookies or browser cache.

[2015-03-02 07:59] stefwalter opened #1873 "Use relative URLs to static resources"
We should be using relative URLs to access static resources. This allows use of different prefixes besides ```/cockpit```

[2015-03-02 07:59] stefwalter commented on #1788
Depends on #1873

[2015-03-02 08:18] stefwalter opened #1874 "Simpler reauthorization using second login"
I'd like to implement a simpler reauthorization mechanism, where we just log in again. The presence of a second login allows the first to escalate privileges. Will put more information here. Discussion on this topic occurred at DevConf ... but wasn't yet documented.

[2015-03-03 11:12] #1726 closed

[2015-03-03 11:16] stefwalter commented on #1687
I'm implementing this on my kubernetes-dashboard branch.

[2015-03-03 14:52] stefwalter commented on #1859
@mvollmer Is it okay if I leave out the ```symbolic-name``` grouping stuff for now, until we have a solid use case?

[2015-03-03 15:30] andreasn commented on #1853
Sure, if that's the only thing we lose.

[2015-03-03 15:31] andreasn commented on #1853
Will stuff still be "realtime"? Like if I do useradd from the CLI, will it be reflected instantly in Cockpit?

[2015-03-03 18:22] stefwalter commented on #1853
Yes.

[2015-03-04 05:00] stefwalter commented on #1588
Done. Removed.

[2015-03-04 05:00] #1588 closed

[2015-03-04 07:26] mvollmer commented on #1859
Of course, that was just a brainstorm.

[2015-03-04 08:18] #1859 closed

[2015-03-04 12:46] #1870 closed

[2015-03-04 16:56] Ralnoc opened #1890 "Login fails for non-root accounts in CentOS 7"
This looks to be a Systemd security issue. I'm still testing to see if I can find a resolution, but I wanted to document the specific issue here. When you attempt to log into cockpit on CentOS 7 as any user other than root, you get the following errors:

[code]

[2015-03-04 17:39] Ralnoc commented on #1581
The SSL port issue is most likely a result of the fact that CentOS 7 is running on glibc 2.17 and glib2 2.36.3 and Fedora is running on glibc 2.20 and glib2 2.42.1.

Running with the --no-tls option will likely be required until there is an update to that package available for CentOS 7.

[2015-03-04 18:08] kbsingh commented on #1581
cockpit on CentOS-7 is done against glib2 2.36.3  ref:  https://github.com/cockpit-project/cockpit/issues/1581#issuecomment-77206094

given that we've already moved forward from whats in the baseline distro, to satisfy the cockpit requirement - is there any reason why we cant move to a newer ver ?

the flip side might be - why is cockpit moving to only working with very new versions of deps

[2015-03-04 18:11] stefwalter commented on #1581
That's not what we do. Cockpit requires the minimum dependency that allows it to function. That is glib-2.37.4. Earlier upstream versions of glib crash due to the glib bug mentioned above. If you've back ported the relevant patches to earlier versions, then you should patch your cockpit.spec to account for that.

I posted this on cockpit-devel many months ago, with specifically CentOS in mind:

ht

[2015-03-04 18:15] kbsingh commented on #1581
adding @lsm5

we have fozen on cockpit 0.27 since dec due to the Atomic folks asking for it to not move beyond, is this something we need to consider for 0.27 as well ?

Lokesh thoughts ?

[2015-03-04 18:19] stefwalter commented on #1581
Yes, that continues to be our last stable release. We're moving toward stabilizing another release in the next month or so.

And yes, the glib bug (and versions in which it is patched) above applies to cockpit-0.27 just as much as it does to the latest development release.

[2015-03-04 19:11] Ralnoc commented on #1581
Does anyone know if there is there a glibc patched RPM for CentOS 7 out there? Otherwise I'll look into building one for it.

[2015-03-04 20:06] stefwalter commented on #1890
selinux?

[2015-03-04 20:28] Ralnoc commented on #1890
That is my suspicion as well. I'm going to dig into it more in tomorrow morning. I'll document anything more I find then.

[2015-03-05 02:29] cmurf commented on #1562
cockpit-0.41-1.fc22.i686

This is still a bug. The UI uses the letters "GB" but the numeric values are in GiB. See screenshot.
![screen shot 2015-03-04 at 7 24 32 pm](https://cloud.githubusercontent.com/assets/10091077/6498038/4ffff4a0-c2a4-11e4-85c9-da98ad5161eb.png)
UI shows /dev/sda2 5.9GB, however 'parted <dev> u s p' shows
Number  Start      End         Size        File system  Name  Flags
 2

[2015-03-05 02:47] cmurf commented on #1561
This is still a bug with cockpit-0.41-1.fc22 for both Btrfs and XFS file systems. For example a 16GB USB stick is inserted, it has a single partition that's 14.9 GiB in size, which is XFS formatted, there is one file on the filesystem: 11MiB PDF.

Cockpit Storage > Filesystems UI shows this as:
/dev/sdd1          14.9 GB

If I click this line I'm taken to a new page Storage >> Kingston DT R500, an

[2015-03-05 06:29] stefwalter commented on #1562
Yes, this was the decision made here #704 and implemented here #869

It's one of those situations where it's impossible to please everyone :S

[2015-03-05 08:04] cmurf commented on #1562
It's not about pleasing people, especially not me. It's about standards. The current behavior is contrary to SI, IEC and NIST. It's contrary to the work being done to fix this confusion by various projects.

julienlim gave you bad advice.

Some projects made their choice before there was a big push to unwind this confusion. Some projects don't have many developers either, to do this sort of work.

[2015-03-05 08:12] cmurf commented on #1562
And as for i18n, I would eat a billy goat if the ICU were to contradict either the IEC, NIST, or re-define SI units. So near as I can tell, this is not an i18n issue at all.

[2015-03-05 08:17] cmurf commented on #1561
So this problem also happens when the USB stick is MBR partitioned, and ext4. At the moment I haven't found the mounted volume sizes in the UI to be even in the ballpark of correct. I'm not sure what's going on.

[2015-03-05 08:22] stefwalter commented on #1562
Pleas comment on the actual bug #704, and CC the participants there if you want to restart that discussion.

[2015-03-05 10:16] dperpeet commented on #704
Reopening based on comments by @cmurf in #1562

[2015-03-05 11:17] jscotka commented on #704
Hi,
My suggestion is to add info to help for event  of mouse
show valuses in bytes and help what kB or KB or KiB mean
http://en.wikipedia.org/wiki/Kilobyte
http://en.wikipedia.org/wiki/Kibibyte
     Regards
     Honza

[2015-03-05 11:32] stefwalter opened #1893 "When connection refused for http-stream1 -> internal-error"
We shouldn't have an ```"internal-error"``` when an http-stream1 channel cannot connect. Instead it should be ```"not-found"```

[2015-03-05 11:34] stefwalter commented on #1893
[code]

[2015-03-05 20:11] lsm5 commented on #1581
ok, so these 2 patches were added in the glib2 that cockpit uses: http://fpaste.org/193998/58535414/ and http://fpaste.org/193997/42558532/ .

@stefwalter could you dumb this down for me please: `you can use the mechanism provided by pkg-config to
override the check in question.` Is it a matter of `BuildRequires: pkgconfig(glib2)` ? Also, I don't see any failure output on running `configure`. This

[2015-03-05 20:12] lsm5 commented on #1581
@Ralnoc feel free to take this up if you prefer.

[2015-03-05 20:38] stefwalter commented on #1581
@lsm5 The cockpit build failures happened here #1586 and commit 7f0a31e44b6f590728c02689784a031f14e07e85

[2015-03-05 21:23] cmurf commented on #704
I think the reference to my post in #1562 is sufficient rather than copy/pasting it here. If it warrants further discussion then we can do it here. I'm not really sure what about this is all that controversial.

If I have a distance of 10 miles I do not write that out as "10 km". That would be a bad idea. But effectively that's what change proponents are arguing - "well everyone else does it wrong

[2015-03-10 16:46] julienlim commented on #704
I've read both this and #1562 threads.  First and foremost, we definitely want consistency.  Secondly, for any storage-related values shown, the expected behavior by users is to see them in the KB, MB, GB, TB, etc. metrics.  This is common practice in storage products throughout the industry, e.g. EMC, IBM, HDS, HP, NetApp, Microsoft, VMware, etc.

If there was discrepancy in the conversion in ord

[2015-03-10 17:51] mvollmer commented on #704
Let's go back to the example. A possible value for a mdraid chunk size is 524288 bytes, for exampe. We let the user pick this from a dropdown. What text should be in that dropdown?

524288 B
512 KiB
524 kB
0.5 MiB
0.524 MB
512 KB
512 kB
0.5 MB

[2015-03-10 23:20] cmurf commented on #704
tl;dr  I still can't conclude definitively whether day to day users or
sysadmins care about bytes (implies base 10 units), or fs block and file
sizes (implies base 2).

Data points:

SNIA's 2014 Dictionary says: "The SNIA uses the base 10 convention commonly
found in I/O-related and scientific literature rather than the base 2
convention (1,024, or 210) common in computer system and software
liter

[2015-03-11 06:52] mvollmer commented on #704
This is what Cockpit does, unfortunately.  From `base/cockpit.js`:

[code]

[2015-03-12 09:13] topstarnetwork opened #1906 "Can cockpit be instgalled on any other kind of distros besides fedora centos and rehls?"
Can cockpit be instgalled on any other kind of distros besides fedora centos and rehls?

[2015-03-12 16:23] #1591 closed

[2015-03-12 16:23] #1592 closed

[2015-03-13 14:08] andreasn commented on #1906
Yes it can be built on various distros, provided that it has all the dependencies filled.
It's listed as [http://cockpit-project.org/running.html](available on Arch on the website), and Jared Sutton created a [PPA for Ubuntu](https://launchpad.net/~jpsutton/+archive/ubuntu/cockpit).

[2015-03-14 14:17] #1097 closed

[2015-03-15 12:25] stefwalter opened #1911 "logger: unknown priority name: 3"
When running check-journal:

[code]

[2015-03-15 13:44] stefwalter commented on #1911
Fixed in:

[code]

[2015-03-15 13:44] stefwalter commented on #1911
Filed issue upstream:

https://bugzilla.redhat.com/show_bug.cgi?id=1202104

[2015-03-15 13:44] #1911 closed

[2015-03-16 07:28] #1906 closed

[2015-03-16 07:38] stefwalter commented on #10
All done yay. Picking up the pieces :)

[2015-03-16 07:38] #10 closed

[2015-03-16 08:02] stefwalter opened #1915 "Clicking 'Start Docker' button has no progress update"
If Docker takes a long time to start, then clicking 'Start Docker' button on the Containers page just sits there and acts pretty broken. No feedback as to success or not.

[2015-03-16 08:43] #1687 closed

[2015-03-16 09:32] stefwalter commented on #1853
This should fix: https://bugzilla.redhat.com/show_bug.cgi?id=1174984

[2015-03-16 09:34] stefwalter commented on #1853
Should also fix: https://bugzilla.redhat.com/show_bug.cgi?id=1161750

[2015-03-16 09:39] stefwalter commented on #1853
Should also fix: https://bugzilla.redhat.com/show_bug.cgi?id=1142234

[2015-03-16 13:47] andreasn opened #1920 "Stuck on German translation"
Switched to German translation just to try it, but now my system is stuck on that language.
No idea why.

[2015-03-16 13:48] andreasn commented on #1920
Logging out and in again does not work.

[2015-03-16 13:49] andreasn commented on #1915
Should have a spinner to indicate progress while it's doing that.

[2015-03-16 14:16] dperpeet commented on #1868
depends on #788 to avoid redundant work

[2015-03-16 14:45] andreasn commented on #1920
Seems to have resolved itself...

[2015-03-16 14:45] #1920 closed

[2015-03-16 15:20] andreasn opened #1922 "Easy way to install firmware"
Way down on the priority list probably, but filing here so I don't forget.
https://github.com/hughsie/fwupd/blob/master/README.md

[2015-03-16 15:23] stefwalter commented on #1922
This doesn't work for servers, where physical access is restricted.

[2015-03-16 15:30] stefwalter commented on #1922
fwupd has the same dependency issues as PackageKit itself, bringing in all of GTK+, X dependencies etc.

[2015-03-16 15:36] hughsie commented on #1922
Well, the GTK dep will be brought in from appstream-glib, which we've still not found a solution for. I assume the real issue here is the gtk3 dep, rather than the gdk-pixbuf dep, right?

[2015-03-16 15:59] #1851 closed

[2015-03-16 16:20] stefwalter commented on #1922
@hughsie gdk-pixbuf depends on libX11 ... so yes it is problematic as well.

In addition having libjpeg, libtiff, libjasper, libpng on servers is a bit odd. But not as problematic as X and GTK

[2015-03-16 16:33] stefwalter opened #1925 "Avocado shouldn't write in my home directory"
Avocado went and created a folder in home home directory.

This is messy. If we want developers to contribute to and use the CI tests, we have to have clean behavior and restrict our writing of job output to the cockpit checkout directory from which ./VERIFY was run.

[2015-03-16 16:58] jscotka commented on #1925
Hi, it is configurable via avocado config, so we can deploy some own avocado config. But home dir is good from my POV. So, do you prefer to use some /tmp?

[2015-03-16 16:59] stefwalter commented on #1925
The cockpit source or its build directory is where output should go by default when someone runs the test suite on their own machine. If the default for the test suite changes when run on a cluster or CI is a home directory, that's fine, but it shouldn't be the default when someone checks out the cockpit repo and runs the verify script.

[2015-03-16 17:02] jscotka commented on #1925
Okay, I'll chech it with avocado devels if it is asily possible or it will need some smarter workaround.

[2015-03-16 19:53] stefwalter opened #1927 "Avocado tests fail with Avocado version mismatch"
After running the avocado tests successfully a few times today, for some reason they now fail with:

[code]

[2015-03-16 19:53] stefwalter commented on #1927
More details:

[code]

[2015-03-16 19:53] stefwalter commented on #1927
I'm testing a branch that changed cockpit.setup. Maybe that has something to do with it?

[2015-03-17 08:00] jscotka commented on #1927
I'm not sure if that problem is caused by these version difference, but could be. Could you please update your local machine, if it helps?
I had there also "exit 11" command. Because as I discussed with avocado developers, it is too young to have very stable API, so that is is better to have same (similar) version. Guests has newest version, because of new installation, but locally you can have ol

[2015-03-17 08:46] stefwalter commented on #1927
You do realize that we use the CI during development heavily, right?

I understand right now for a week or two we discover a lot of issues.

But each of these issues needs to be solved in such a way that it **never** comes up again, otherwise the overhead of developing the CI (and developing against it) will be too high, and the CI will rot.

[2015-03-17 08:47] stefwalter commented on #1927
@mvollmer With that in mind, can we lock down the version of avocado that we use (since it's unstable) and update it manually when necessary?

[2015-03-17 08:55] jscotka commented on #1927
There are several ways how to solve it:
1. fix the version of avocado, downlaod some version locally and that version install on host and all guests
2. no nothing and have all systems updated to lastest version
3. do not use remote/vm plugin and schedule it via avocado locally in steps:
 cp test to remote machine
 avocado run localtest on guest
 copy results back to host

[2015-03-17 09:03] stefwalter commented on #1927
After updating avocado on my system to 0.21.0-3 ./VERIFY seems to hang forever ... not sure of the cause :S

[2015-03-17 11:26] stefwalter opened #1931 "creating GSocket from fd 3: Socket operation on non-socket"
cockpit-ws crashes when accessed. It seems that the fd being passed from systemd is not a socket?

Back trace:

[code]

[2015-03-17 11:26] stefwalter commented on #1931
The message comes from

[code]

in this code:

[code]

[2015-03-17 12:07] stefwalter commented on #1931
https://bugzilla.gnome.org/show_bug.cgi?id=746339

[2015-03-17 13:33] julienlim commented on #704
There are definitely a lot of differing opinions here.  To answer Marius' question on what to show for mdraid chunk size, IMHO I still believe it should show as 512 KB.

There is misuse of SI prefixes, and although International Electronic Commission established the term kibibyte for 1024 bytes, the term never caught on.  If you look around you, you'll find that very few use the terms kibibyte and

[2015-03-17 18:19] cmurf commented on #704
@julienlim
Every single thing you said is incorrect.

mdadm chunk size is in kibibytes, it says this in the man page; that subsequent examples use the wrong labeling only proves my point that this is a problem that causes confusion. If you look at SNIA's DDF 2.0 spec, strip_size=chunk=stripe_depth are in base 2 units. That they wrongly use SI prefixes is not a good reason for everyone else to wron

[2015-03-17 19:27] julienlim commented on #704
@cmurf

This conversations seems to have morphed into something more than intended.

What I was trying to convey and perhaps did not state it  well (and my apologies if the message got misconstrued along the way) is that customers expect to see the unit label of KB, MB, GB, etc. and not KiB, MiB, GiB, etc. and this is something widely adopted in the industry today -- whether correctly or not (and

[2015-03-17 20:14] cmurf commented on #704
@julienlim
"Widely adopted" precisely where? Be exact. What interface? What context?

Btrfs, by default, uses IEC units and properly labels them KiB, MiB, GiB, TiB

LVM, by default, uses IEC  units and properly labels them KiB, MiB, GiB, TiB, except in lvs/pvs/vgs where it uses m, g, or t (lower-case) as short hand.

ls and df, use bytes, with -h it uses IEC values but with ambiguous labeling K, M

[2015-03-17 21:06] mvollmer commented on #704
What about this: Cockpit will use the SI and IEC units correctly and it will be consistent with other correct uses of those units.

[2015-03-18 10:14] dperpeet commented on #704
I think this is a good summary and agree. Additionally, I agree with @cmurf and think that we should use (correct) base 2 units for storage, since that is usually the more interesting value.

I also strongly agree that "others are doing it wrong" isn't a valid argument. While not everyone may be familiar with IEC units (Windows users maybe?), the units can be looked up easily and are not up for in

[2015-03-18 12:43] #1931 closed

[2015-03-18 14:14] julienlim commented on #704
I'm fine if we stick with the base 2 units for now but please bear in mind that as we converge or integrate with other non-Linux based technologies, trying to normalize and "report" on storage will become increasingly challenging.  E.g. if you have storage from EMC, NetApp, IBM, etc. and you're using NFS or some other protocol to connect to it, when we try to unify and report on various disparate

[2015-03-18 16:27] #1873 closed

[2015-03-18 17:10] stefwalter commented on #461
We now have one or two tests for docker, but certainly not proper coverage.

[2015-03-18 17:15] dperpeet commented on #702
@andreasn does our recent change to cockpit cover enough of this?

[2015-03-18 17:17] dperpeet commented on #979
similiar to #980 ?

[2015-03-18 17:19] dperpeet commented on #965
@stefwalter is this still an issue?

[2015-03-18 17:34] dperpeet commented on #1304
@mvollmer should this be closed?

[2015-03-18 17:37] dperpeet commented on #1220
@stefwalter are there easy options to compile some of the doc we have for this?

[2015-03-18 17:39] dperpeet commented on #1443
@jscotka does this still happen?

[2015-03-18 17:41] jscotka commented on #1443
I've tested it some time ago and I din't met it again, so we can close it

[2015-03-18 17:44] #1443 closed

[2015-03-18 17:47] dperpeet opened #1943 "Update from F21 -> Rawhide"
[original error on Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1196816)

F21 Server (updated) to rawhide according to https://fedoraproject.org/wiki/Upgrading_Fedora_using_yum#To_rawhide seems to fail.

Let's see if there are underlying update issues.

[2015-03-18 17:51] dperpeet commented on #125
@andreasn should we warn the user when changing the hostname while part of a domain?

[2015-03-18 17:57] dperpeet commented on #1072
@andreasn is it worth thinking about bringing the ellipsis back? as a fallback we can display the whole text on hover...

[2015-03-18 19:59] fridex commented on #644
Will these "advanced options" be available when creating a new account or is it meant only for managing existing ones?

@andreasn Any mockup design available?

[2015-03-18 23:08] petervo commented on #412
So the bug as described here doesn't exist anymore. The behavor now is that on commit the old one is removed and the new one is added to list. The reason is we no longer show images that don't have tags. https://github.com/cockpit-project/cockpit/commit/30de4249b6f9180b1c2d1447841a08f686761c78.

So if everyone is fine with this behavior then i think this is fine to close.

[2015-03-19 04:20] cmurf commented on #704
I wrote: *Due to the fact the actual minimum unit size if 4096 bytes because that's the file system unit, the actual available capacity is probably yet again quite a bit less than...*  This is wrong. df reports used as blocks in use * block byte size. So a 64KiB fs block/cluster, a 128 byte file is reported by df as 64KiB used. SI units will always overestimate free space as a result.

OS X GUI cu

[2015-03-19 05:41] #1915 closed

[2015-03-19 08:19] mvollmer commented on #412
Sounds good.

[2015-03-19 08:19] #412 closed

[2015-03-19 08:44] #1095 closed

[2015-03-19 08:45] stefwalter commented on #1093
I think we want to log the error.

[2015-03-19 08:45] #1093 closed

[2015-03-19 08:53] dperpeet commented on #1093
Agreed. I believe this will be cleaned up anyway once docker moves into its own package.

[2015-03-19 08:58] mvollmer commented on #1304
No, I think the problem is still there.

[2015-03-19 09:20] dperpeet opened #1951 "missing patternfly"
Recent commits to master seem to have resulted in missing patternfly.css on pages that don't use legacy css. Certainly affected: terminal, subscriptions

![screenshot from 2015-03-19 10 19 05](https://cloud.githubusercontent.com/assets/8711649/6727353/8e795e32-ce21-11e4-8835-b8cfedaaf261.png)
![screenshot from 2015-03-19 10 19 16](https://cloud.githubusercontent.com/assets/8711649/6727354/90e4382c

[2015-03-19 09:21] dperpeet commented on #1951
@stefwalter

This might be due to https://github.com/cockpit-project/cockpit/commit/11ca545a0ba4b4848dc0744d32e7ff366f910a35#diff-0168dfe58de9654ebc171f3b804c18b5L11

Which patternfly are we supposed to include?

[2015-03-19 09:22] stefwalter commented on #1951
How did you install cockpit?

[2015-03-19 09:23] dperpeet commented on #1951
make install, I cleaned /usr/share/cockpit beforehand

[2015-03-19 09:50] #1951 closed

[2015-03-19 10:22] dperpeet commented on #1216
Should we warn about this, go with @mvollmer's workaround or choose to ignore it due to different tools doing different things?

[2015-03-19 10:53] dperpeet commented on #1304
There are now 2 format buttons... one remaining in the action button, the other in the content section.
The problem: The opened dialogs look different. Do they do different things?
From action (raid):
![screenshot from 2015-03-19 11 52 27](https://cloud.githubusercontent.com/assets/8711649/6728975/8ddfdb4c-ce2e-11e4-8090-8ae5524560aa.png)

From content:
![screenshot from 2015-03-19 11 52 31](https

[2015-03-19 11:51] mvollmer commented on #1304
Yes.  The first creates the partition table, the other creates partitions and filesystems.

[2015-03-19 13:37] stefwalter opened #1957 "Run avocado phantomjs process in different timezone"
In order to catch the same bugs that the old tests used to, the phantomjs should be run in a different timezone than cockpit and the rest of the server.

This is important for any test that touches the timezone or any date value.

[2015-03-19 13:37] dperpeet commented on #1957
apparently we can use env variable TZ
https://github.com/ariya/phantomjs/issues/10379

[2015-03-19 13:40] #1852 closed

[2015-03-19 14:15] #1096 closed

[2015-03-19 15:38] petervo commented on #431
After IRC discussion we'll fix this after more progress has been made on moving the dashboard away from shell.

[2015-03-19 16:10] dperpeet opened #1959 "Services: misleading breadcrumbs navigation"
In Services we have different categories to look at (Targets, System Services et al.).

When we click on an entry from any category, we go to a page with details. At the top of the page we have breadcrumbs to navigate back, but this will always lead do System Services again (as will the browser "back" key). This is misleading.

![screenshot from 2015-03-19 17 04 04](https://cloud.githubusercontent

[2015-03-19 23:26] petervo commented on #980
@andreasn Trying to fix this in the new dashboard design, How large do you want to allow the dropdown to get right now it has a min width of 130px and max of 100%. Do you want to keep that or give it a max width?

[2015-03-20 00:05] #1307 closed

[2015-03-20 07:49] dperpeet commented on #1943
I checked today and this runs smoothly.

Clean F21 server minimal install, fully updated. Upgrade to rawhide according to [this description](https://fedoraproject.org/wiki/Upgrading_Fedora_using_yum#To_rawhide). Login to cockpit via browser worked before and after update.

[code]

Afterwards:
[code]

[2015-03-20 07:49] #1943 closed

[2015-03-20 08:11] dperpeet opened #1963 "Account: current account is null"
After logging in as root, navigating to account settings reveals that data isn't fully populated:
![screenshot from 2015-03-20 09 08 52](https://cloud.githubusercontent.com/assets/8711649/6747997/e442183a-cee0-11e4-8da9-006e14cb75c0.png)

We see the current account as '?' and trying to use `Set Password` fails with `TypeError this.account is null`

Reported on [Bugzilla](https://bugzilla.redhat.co

[2015-03-20 10:35] dperpeet opened #1964 "System: datepicker doesn't always close"
When manually setting system date/time

In Firefox: If I open the datepicker, resize the browser window (while datepicker is open) and then hit Escape, the dialog is closed but the datepicker remains open until I click somewhere inside the window.
This doesn't happen in Chrome.

[2015-03-20 14:02] stefwalter commented on #1330
@mvollmer Do you think we should change:

 * Permission failures: -> "access-denied"
 * Authentication failures: -> "authentication-failed"

This makes it a bit clearer what's going on.

[2015-03-20 15:02] #1758 closed

[2015-03-20 16:18] andreasn opened #1973 "Support for iSCSI initiators"

[2015-03-20 16:19] andreasn commented on #1973
![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/storage/iscsi.png)

[2015-03-20 16:42] fabiand commented on #1973
Pretty nice mockup!

Notes:
* Box: _iSCSI Targets_
  * I'd actually consider _iSCSI Portals_ which might be clearer because it is less overloaded (target vs portal)
  * Should the _iSCSI Targets_ box always be visible? I'd consider to only show it if one or more targets were added - but I'm sure that is the plan
  * The initial portal addition could be triggered from some hidden menu

* Box: _Add

[2015-03-20 18:03] hughsie commented on #1922
I've been sorting this out in rawhide. In f23 the only dep we pull by default is libpng which I think is a lot more palatable than what we have now.

[2015-03-20 18:06] petervo opened #1974 "Disabled real name editing"
When you don't have permission to edit a users real name we disable the field.

When it's your own name you get a tooltip telling you can't edit if you type anyways you get an error. When it is someone else's account, you get no tooltip just a cancel icon on hover and you are unable to type in the field.

We can't have the tooltip and the completely disabled field at the same time. But i think the

[2015-03-20 20:19] #1330 closed

[2015-03-23 08:44] stefwalter opened #1983 "Mark all remaining translatable strings"
We should mark all remaining translatable strings. In particular:
- Strings in code should be marked with `_("String")`
- Strings in HTML should be marked with the attribute `translatable="yes"` in their surrounding tag.
- Numbered translatable strings will need to use `cockpit.ngettext("Singular", "Plural", count)`, likely wrapped in a `cockpit.format(...)` call.

This will require a bit of refac

[2015-03-23 08:53] #980 closed

[2015-03-23 14:31] lathan opened #1990 "misuse of Red Hat Shadowman logo"
In the [try it out](http://cockpit-project.org/running.html) page, the Shadowman logo is used incorrectly. There are two issues:

1. Shadowman is used without the "Red Hat" wordmark. From [brand.redhat.com](http://brand.redhat.com/logos/shadowman/):

2. Shadowman is used to represent RHEL Atomic Host, a product of Red Hat. This is also incorrect. Again, details here: [brand.redhat.com](http://bran

[2015-03-23 14:35] stefwalter commented on #1990
@lathan This is actually where the source code of http://cockpit-project.org comes from: https://github.com/cockpit-project/cockpit-project.github.io

[2015-03-23 14:40] jscotka commented on #1817
Hi,
it is connected with issue:
https://github.com/cockpit-project/cockpit/issues/1529
It would be nice also to add localhost back and be able to use localhost as normal remote machine (without localhost hack)
usecase is that it would help for testing (test localhost hack, and also normal remote behaviour on localhost)

[2015-03-23 14:41] lathan commented on #1990
thanks @stefwalter . I opened an issue [there](https://github.com/cockpit-project/cockpit-project.github.io/issues/22).

[2015-03-23 14:41] #1990 closed

[2015-03-23 19:31] shawnl opened #1991 "libsystemd-journal libsystemd-daemon deprecated"
[code]

[2015-03-24 05:15] stefwalter commented on #1991
Which version of systemd did this happen in? We probably would need to bump the required version.

[2015-03-24 05:31] #1817 closed

[2015-03-24 05:40] shawnl commented on #1991
209

[2015-03-24 08:18] stefwalter commented on #1991
@mvollmer @kkaempf @kbsingh @jpsutton

Are we ready to have Cockpit drop support for systemd 208 and earlier?

This would mean dropping support for Fedora 20 ... which is probably broken anyway. How does this affect OpenSUSE, CentOS or Ubuntu Vivid?

[2015-03-24 09:03] kkaempf commented on #1991
Should be fine for openSUSE.
It will drop openSUSE 13.1 (released Nov 2013) which had systemd 208.
All later releases (SUSE Linux Enterprise Server 12, openSUSE 13.2) have systemd 210.

[2015-03-24 09:32] kdudka opened #2001 "allow to resize the terminal widget"
The default size of the terminal widget is too small for me to be useful.  There is currently no way to enlarge it.  It would be nice to make the size customizable.

[2015-03-24 11:57] andreasn commented on #644
@fridex not yet, but I can get on it. Do we want to mash up all these things in one issue, or would it be better to split it up perhaps?
All of them needs a bit of work and thought to them, so it sounds hard to try and solve them all in one bit. If I were to tackle one problem first, what would it be?
Out of the list above, I personally think the password strength is most critical.

[2015-03-24 13:06] blaskovic opened #2007 "Change system time - SELinux policy denies access"
System -> System time -> Set time automaticaly using NTP.

    type=USER_AVC msg=audit(1427202207.975:435): pid=1 uid=0 auid=4294967295 ses=4294967295 subj=system_u:system_r:init_t:s0 msg='avc:  denied  { start } for auid=n/a uid=0 gid=0 path="/usr/lib/systemd/system/systemd-timesyncd.service" cmdline="/usr/lib/systemd/systemd-timedated" scontext=system_u:system_r:systemd_timedated_t:s0 tcontext=s

[2015-03-24 13:07] stefwalter commented on #2007
Thanks for reporting this. But this is not a bug in Cockpit. It's a common bug in Fedora that has unfortunately been around for a year and a half

https://bugzilla.redhat.com/show_bug.cgi?id=1014315

[2015-03-24 13:07] #2007 closed

[2015-03-24 13:42] schidlo opened #2009 "Copy and paste to terminal could improve usability"
From time to time I use copy and paste in terminal. It's not necessary but it could improve usability.

[2015-03-24 14:31] todoleza opened #2012 "disabling a service removes status info and buttons"
after cockpit start (reproducible by stopping it) I logged in and went to services, opened a failed service lm_sensors and pushed Disable. All buttons for the service disappeared  and the field was replaced with text "unknown" as captured on picture bellow. Repeating the steps on already running instance works as it should.
![pic](https://cloud.githubusercontent.com/assets/4707985/6803797/509d1f32

[2015-03-24 14:39] jscotka commented on #1925
Hi,
It will be possible. There was some older option, there said, but they planned some updates there.
So after they finish it I'll add it there.

[2015-03-24 14:56] todoleza opened #2014 "Provide better description in About dialog"
Currently, "About Cockpit" menu item from top right shows window with very vague description of Cockpit: `Cockpit is an advanced application with many options.`
following lines are also present:
`Version 0.44.`
`Built on Sat Mar 21 11:49:16 UTC 2015.`

imho a web link to project or github page would be good to put there

[2015-03-24 15:43] andreasn commented on #2014
On the website it says "Cockpit makes it easy to administer your GNU/Linux servers from the browser", and since you're already in the browser, cutting "...from the browser" should be ok.
Probably best to link to http://cockpit-project.org/ since it has all the pointers to the issue tracker, mailing list etc.

[2015-03-24 15:47] stefwalter commented on #2014
Sounds good.

[2015-03-24 15:47] andreasn commented on #2014
@todoleza do you want to do a pull request with the above fixed?

[2015-03-24 19:27] todoleza commented on #2014
Hello,
I can create PR for this, but I am not acquaint with po files generation. please look at index.html diff. Originally I wanted to put the website under the two generated lines but it didn't look well and would generate one more translation string. It's merged as to be seen in the diff.
Also, if I got you correctly, "from the browser" was cut away.
https://gist.github.com/todoleza/0f111e0eafe

[2015-03-25 09:14] MartinRumanek opened #2016 "CPU usage is inconsistent"
How it's possible?

usage is around 4 %
![home](http://i.imgur.com/DfJfFRv.png)

at the same time the cpu usage on the container page is much larger (I have 2 cores)
![containers](http://i.imgur.com/RrRXOiG.png)

[2015-03-25 19:34] jzb commented on #1991
As I understand it this would impact CentOS 7 including the next release. While Fedora > 20 may be well ahead of 208, CentOS 7x will be on 208 for some time, no?

[2015-03-25 19:49] jpsutton commented on #1991
Ubuntu Vivid is on systemd 219.

[2015-03-25 20:33] stefwalter commented on #1991
It turns out that in addition RHEL 7.0 is on systemd 208.

Once systemd actually removes these libsystemd-*.pc pkg-config files, we'll need to add the customary NN lines of autofoo gunk to our configure.ac in order to support both pre-209 and later releases.

But for now lets leave it as is.

[2015-03-25 20:47] kbsingh commented on #1991
note that the systemd 208 isnt stock 208, there is a patchset that comes with it on CentOS and RHEL - do we have the feature you need ? Can we request backports for specific bits as needed ?

[2015-03-26 13:27] mvollmer commented on #1867
Merged #2014 too hastily.

[2015-03-26 13:53] fridex opened #2031 "Indicating of Password Strength"
Based on https://github.com/cockpit-project/cockpit/issues/644

It would worth it to add password strength indication. There can be seen confusing behavior in some cases when a password is not strong enough (e.g. https://github.com/cockpit-project/cockpit/pull/1877#issuecomment-83519840) - there is shown only an error code without any additional info. Thus, it would be nice to indicate the passwor

[2015-03-26 13:56] fridex commented on #2031
Rather than reinventing the wheel this looks suitable for me:

https://github.com/ablanco/jquery.pwstrength.bootstrap

Demos:
https://cdn.rawgit.com/ablanco/jquery.pwstrength.bootstrap/master/examples/index.html

[2015-03-26 13:57] fridex commented on #644
@andreasn yes, I would prefer to solve this in separate issues.

[2015-03-26 14:06] fridex opened #2032 "Manage Groups and Their Members"
Based on https://github.com/cockpit-project/cockpit/issues/644

Manage groups:
 * add a new group
 * delete a group
 * administer members of a group

[2015-03-26 14:07] fridex commented on #2032
Displaying a list of all groups for every user looks confusing according to https://github.com/cockpit-project/cockpit/pull/1877#issuecomment-76895671.

[2015-03-27 06:56] stefwalter commented on #2032
I don't yet understand what this is going to be used for. That said, there could be a use case here that I don't understand.

In Cockpit we do "Design Driven Development". Which means that for every significant feature we build a feature page, and document the workflow, tasks that should be accomplished etc. And then andreasn does wireframes.

Could you build a new feature page for this feature? H

[2015-03-27 07:09] stefwalter commented on #2031
As far as the timplementation, we need to respect the server's password strength configuration, rather than inventing something in Cockpit.

The PAM stack uses pwquality to do this. There's a pwscore command which can be used to determine the password's score. It prints out a strength, or it fails when the system is configured to reject the password.

[2015-03-27 07:17] stefwalter commented on #2031
As far as the timplementation, we need to respect the server's password strength configuration, rather than inventing something in Cockpit.

The PAM stack uses pwquality to do this. There's a pwscore command which can be used to determine the password's score. It prints out a strength, or it fails when the system is configured to reject the password.

[2015-03-27 07:17] stefwalter commented on #2031
By the way, depending on the design, the UI is trivial to implement using a patternfly progress bar without pulling in yet another dependency.

[2015-03-27 12:14] andreasn opened #2041 "Duplicate name error for containers is not inline"
If I try naming a new container with a name of an already running container, I get a dialog poping up saying:

"Conflict. The name "wordpress-site-1" is already in use by container 4c195f39e10f. You have to delete (or rename) that container to be able to reuse that name. "

This would be nice to have inline. Obviously needs shorter error text in that case.

[2015-03-27 12:28] #1867 closed

[2015-03-27 12:30] stefwalter opened #2042 "Don't send content all in one go in cockpit.file().replace()"
We shouldn't send all the content in one go in cockpit.file().replace(), otheriwse it easy goes over the maximum message size limit.

[2015-03-27 12:53] andreasn opened #2044 "In container bulk-delete mode, rows jumps around"
When deleting a number of containers, the rows jumps around when others get removed. This can lead to accidentally deleting the wrong container.

[2015-03-27 19:00] cgwalters opened #2048 "No one expects the dependency on"
Downstream: https://bugzilla.redhat.com/show_bug.cgi?id=1206683

Instead of https://github.com/cockpit-project/cockpit/blob/master/pkg/shell/cockpit-accounts.js#L144 it would seem a lot saner to me to call out to:  https://fedorahosted.org/libuser/

It looks like accountsservice doesn't use libuser, but also calls out to binaries.  Ugh, it provides the password via argv.

So, libuser via dbus or s

[2015-03-27 19:17] stefwalter commented on #2048
Hmmm, yeah I missed the fact that it's TCL.

We have no way for a user to set their own password without using either accountsservice or passwd. Since RHEL atomic has boycotted the former, we've tried to use the latter.

Besides the fact that usermod expects the password on the command line, it expects to be run as root, and doesn't run with user permissions.

[2015-03-27 19:29] stefwalter commented on #2048
We can open a process with a pty, so maybe we can script passwd direct from javascript. Lets see.

[2015-03-27 22:24] #2048 closed

[2015-03-28 16:03] hashworks opened #2051 "make isn't finding some tools in Debian Jessie"
After running autoconf.sh (which worked fine) make tells me that it isn't finding some tools:
[code]

Repeadingly running make results in more tools missing, f.e. jshint and uglifyjs. However all of them exist in the tools folder.

What I did:
[code]

full autogen.log: http://pastebin.com/ftm2SVyj
full make.log: http://pastebin.com/k10YeJ6p

`ls /usr/local/src/cockpit/tools`
[code]

[2015-03-28 18:26] stefwalter commented on #2051
The ```npm install``` didn't seem to do anything. We use it to install a local copies of various nodejs development dependencies. Note that these dependencies should not be needed to build from the tarball, only when building from git.

It could be that it behaves differently on Jesse. Can you run the following commands, and post the output?

[code]

[2015-03-29 01:42] hashworks commented on #2051
I guess I've run autoconf twice by accident, so the log is empty. npm install definitly installed something on the first run, now it just returns nothing (as you did expect).

[2015-03-29 09:49] hashworks opened #2052 "cockpit ignores ListenAddress setting"
I've followed the [guide](http://files.cockpit-project.org/guide/listen.html) to change the ListenStream and ListenAddress of cockpit:
[code]
The ListenStream setting works fine (altrough I had to remove it from `/lib/systemd/system/cockpit.socket`, otherwise it would listen on `9090` and `5443`), however cockpit keeps ignoring the ListenAddress setting, it is still accessible on `0.0.0.0`.

[2015-03-29 09:59] hashworks opened #2053 "Using --no-tls with an ssl vhost and http proxy results in an invalid handshake"
I'm using cockpit with the `--no-tls` option since I'm only accessing it locally anyway:
[code]

I also have an apache ssl vhost with an http proxy pointing to cockpit:
[code]

The login page openes fine, however as soon as I log in I get `Server has closed the connection.` with the following in the cockpit journal:
[code]

I'm not sure why this occures, cockpit shouldn't handle any tls stuff with

[2015-03-30 07:51] stefwalter commented on #2053
Apache mod_proxy.so does not support WebSockets. You probably need to experiment with this:

http://httpd.apache.org/docs/2.4/mod/mod_proxy_wstunnel.html

Either way, this is not a bug in Cockpit. Closing.

[2015-03-30 07:51] #2053 closed

[2015-03-30 08:02] stefwalter commented on #2052
ListenAddress is not a valid systemd setting. I've prepared a patch that removes it from our documentation.

[2015-03-30 08:03] stefwalter commented on #2052
I think you can use:

[code]

But you should see systemd documentation for more information.

[2015-03-30 08:54] hashworks commented on #2052
Don't forget the `=`:
`[/etc/systemd/system/cockpit.socket.d/listen.conf:2] Missing '='.`

Using `ListenStream=127.0.0.1:5443` works fine, thanks! Listening on localhost and 5443 only.

However cockpit-ws still tells me `HTTP Server listening on port 9090`, I'll open another issue for that one.

[2015-03-30 08:56] hashworks opened #2055 "Setting another port in cockpit.socket results in cockpit-ws still logging port 9090"
I added the following to `/etc/systemd/system/cockpit.socket.d/listen.conf`:
[code]

Now cockpit is listening on localhost and 5443 only, however it still logs port 9090:
`HTTP Server listening on port 9090`

[2015-03-30 11:40] mvollmer commented on #2052
Fixed with e97eec6c487636e0

[2015-03-30 11:40] #2052 closed

[2015-03-30 13:09] andreasn opened #2060 "Administrator accounts alignment off"
![screenshot from 2015-03-30 15 08 11](https://cloud.githubusercontent.com/assets/209895/6896720/b51a523c-d6ee-11e4-86b1-284df184753b.png)

[2015-03-30 13:11] andreasn commented on #2060
Hups, this was on a branch. Ignore.

[2015-03-30 16:45] andreasn commented on #2060
Realized it actually happens on master too.
It happens in the cases the "Real Name" field is blank.

[2015-03-30 19:10] stefwalter opened #2066 "Options of which users to sync, when adding to dashboard"
Cockpit requires that the same user is used for all servers on the dashboard, and thusly we offer to sync the user to other machines (eg: if not joined to a domain).

We currently sync all users. But we should make this optional, with just the current user as a prerequisite.

[2015-03-30 19:15] petervo commented on #2066
Current user may be ambiguous, is that the user that i'm logged into cockipt with on the machine that is serving the dashboard ei: has the machines file. Or the user that was used to log into the remote machine as part of the add host process.

[2015-03-30 19:22] petervo opened #2067 "newusers error logs"
Errors from newusers commands don't seem to be making their way into the journal.

[2015-03-30 19:55] stefwalter commented on #2066
The one logged into Cockpit.

I agree this is a UI nightmare with the two users involved (one temporary). It needs some thought to be presented correctly.

[2015-03-30 20:06] #1679 closed

[2015-03-30 20:06] #1853 closed

[2015-03-30 20:32] MartinRumanek commented on #2016
Should I provide any further information?

[2015-03-31 07:22] #2055 closed

[2015-03-31 12:49] stefwalter commented on #2016
I can't duplicate this here. But I'm having a hard time seeing any CPU information on the Containers page ... :S

[2015-03-31 13:50] stefwalter commented on #2067
Which errors did you see that went to the wrong place? I took a look at the newusers source code, and everything goes to stderr, which should go to the journal.

[2015-03-31 14:11] petervo commented on #2067
This was with shadow-utils 4.1.5.1. My shadow file and /etc/groups were inconsistent on the vm i was testing with, so adding a user was failing. Nothing in the journal but running the same command on the command line showed me the error.

[2015-03-31 14:12] stefwalter commented on #2067
Yes. What was the error? So we can track it down.

[2015-03-31 14:24] petervo commented on #2067
The error looks like:

newusers: group x is a shadow group, but does not exist in /etc/group
newusers: line 1: can't create group

[2015-03-31 14:38] stefwalter commented on #2067
Hmmm, that error goes to stderr in src/newusers.c

[2015-04-01 05:50] stefwalter opened #2077 "The trace option for tests is broken -v during boot"
The trace option for tests (showing the bootup) is broken. Previously specifying -v to a VM would show all boot messages and allow you to diagnose startup issues.

[2015-04-01 08:39] dperpeet commented on #2060
I saw this before, but I'm not sure what the proper way would be to fix this.
Possible workaround (I tested this in the browser) is to have whitespace in the "Real Name" field, e.g. `&nbsp;`. I didn't do a pr with this because it doesn't seem like a clean solution...

[2015-04-01 09:05] andreasn commented on #2060
That was pretty much what I could come up with for fixing it as well.
Another way is to do
.cockpit-account > .cockpit-account-real-name {
display: block;
min-height: 30px;
}

[2015-04-01 09:23] dperpeet commented on #2060
I think fixing the style is better. Otherwise we change content and add invisible whitespace to prevent the ui from breaking...

[2015-04-01 10:05] dperpeet commented on #2077
does `-t` (trace) work for you? that traces the actual test, but doesn't show the bootup. Should it?
Which option (`v` or `t`) should show the bootup process?

[2015-04-01 10:06] stefwalter commented on #2077
-v would show the bootup process before, as well as any other verbose messages (such as command lines executed, and so on). If you would like to change the options around that's fine with me, but we should still have a way of seeing the boot up somewhere.

[2015-04-01 10:39] #2060 closed

[2015-04-01 11:45] #2077 closed

[2015-04-01 12:05] #1678 closed

[2015-04-01 13:47] stefwalter commented on #1680
PCP is now optional and we fallback to internal metrics gathering.

[2015-04-01 13:47] #1680 closed

[2015-04-01 13:48] stefwalter commented on #585
@mvollmer has some working code to do this.

[2015-04-01 13:58] #1681 closed

[2015-04-01 14:17] stefwalter commented on #2016
Any chance you could update to a recent Cockpit version (such as 0.48 ... which you can get in Fedora 22)?

[2015-04-01 14:19] petervo opened #2083 "Missing requirements style"
We have a few pages were we have messages letting users know that a component needed for that page isn't installed. ei: docker or storage. We should probably have a standardized look for those types of messages.

[2015-04-01 15:12] andreasn commented on #1973
![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/storage/iscsi.png)

[2015-04-01 16:29] MartinRumanek commented on #2016
I've tested it on virtual machine..  As it turned out docker containers are not the problem. But open-vm-tools package is problematic. When I uninstalled it, problem was gone.

I've also tested Cockpit 0.48  (installed by `yum install bash --enablerepo rawhide`, dependencies are from Fedora 21) and now the title page is OK.:
![title](http://i.imgur.com/iaFI4LC.png)

However if I click on this grap

[2015-04-02 08:39] andreasn opened #2092 "putdated gitignore"
after building, I have a lot of untracked files:

	cockpit-pcp
	cockpitd
	doc/man/cockpit-bridge.1
	doc/man/cockpit-ws.8
	doc/man/cockpit.conf.5
	doc/man/cockpitd.8
	doc/version
	guide/
	org.freedesktop.UDisks2.c
	org.freedesktop.UDisks2.h
	pkg/base/
	pkg/base1/bundle.min.js
	pkg/base1/bundle.min.js.gz
	pkg/base1/cockpit.min.css.gz
	pkg/base1/cockpit.min.js
	pkg/base1/cockpit.min.js.gz
	pkg/base1/

[2015-04-02 08:40] stefwalter commented on #2092
Ideally you should use a separate build directory. See HACKING.md. However if you want to use the same build directory as your source directory, you are welcome to submit a pull request for curating the .gitignore.

[2015-04-02 08:44] andreasn commented on #2092
working on that now

[2015-04-02 09:00] andreasn commented on #2092
https://github.com/cockpit-project/cockpit/pull/2093

[2015-04-02 09:04] #2092 closed

[2015-04-02 12:49] sgallagher opened #2099 "[RFE] Libvirt monitoring"
It would be really handy if Cockpit could provide monitoring for virtual machines similar to the way that it does for docker containers.

Bonus points for implementing full virt-manager functionality.

[2015-04-02 13:13] andreasn commented on #2099
Isn't that oVirt?
http://www.ovirt.org

[2015-04-02 15:42] sgallagher commented on #2099
oVirt is a much more comprehensive solution than I was talking about, but I suppose one option would be to develop an oVirt Role for Fedora Server that Cockpit could set up and deploy.

[2015-04-02 20:25] #1529 closed

[2015-04-03 18:40] mvollmer opened #2104 "check-storage fails without old storaged"
While updating the Fedora 22 images, this error happens (among others):

[code]

![check-storage-testresize-fail](https://cloud.githubusercontent.com/assets/3228183/6986822/de117c2a-da49-11e4-8300-b928c5b527f0.png)

http://files.cockpit-project.org/hubbot/fe0211123c25975b28d2af624067acfc7a8b508d/hubbot.html

The trigger is probably that the storaged package is no longer installed in the test machi

[2015-04-04 19:20] andreasn opened #2105 "broken new container dialog"
![screenshot from 2015-04-04 21 20 00](https://cloud.githubusercontent.com/assets/209895/6994194/661d49ca-db10-11e4-8fc7-13d0a72ddb7a.png)

[2015-04-07 07:52] #2104 closed

[2015-04-07 14:09] andreasn commented on #2105
Fix in https://github.com/cockpit-project/cockpit/pull/2110

[2015-04-07 14:24] andreasn opened #2112 ""Real name" sounds odd"
In the create new user dialog it says "Real Name". This rings a bit weird to me.
The Fedora Installer uses the term "Full Name", and so does GNOME.
This also affects the individual user page.

[2015-04-07 14:34] andreasn commented on #2112
spoke to @lhinson a bit about this on IRC. She agreed Real Name sounds odd and took a todo to come up with a general patternfly recommendation

[2015-04-08 09:25] andreasn commented on #2105
Fixed

[2015-04-08 09:25] #2105 closed

[2015-04-08 09:59] andreasn commented on #2041
Mockup:
![screenshot from 2015-04-08 11 59 07](https://cloud.githubusercontent.com/assets/209895/7043042/b2239760-dde6-11e4-9be5-9d2c8115b7eb.png)

[2015-04-08 11:54] #2112 closed

[2015-04-08 13:10] andreasn commented on #2031
Designs are in #2061 so removing the needsdesign tag from this issue.

[2015-04-08 18:39] andreasn opened #2116 "update appdata screenshots"
The screenshots referenced in the appdata file are really old by now.
Need to update those.

[2015-04-09 12:19] andreasn commented on #2116
Fixed here https://github.com/cockpit-project/cockpit-project.github.io/commit/4ac78a961f895556d04677b9a06bc50ab5c6f7a7

[2015-04-09 12:19] #2116 closed

[2015-04-10 11:26] andreasn commented on #986
This was fixed ages ago. Closing this bug report.

[2015-04-10 11:26] #986 closed

[2015-04-13 08:20] #1499 closed

[2015-04-13 17:17] andreasn opened #2135 "suggest a username based on name"
A lot of user creation tools suggest a username based on the full name entered in the field above.
This would needs to take care of itself and not suggest a already existing name

[2015-04-13 21:25] andreasn commented on #2135
@fridex does this sound interesting to you?

[2015-04-14 05:48] stefwalter commented on #2051
requirejs is definitely in package.json. If you see this problem again, post here and we can reopen this issue.

[2015-04-14 05:48] #2051 closed

[2015-04-14 10:32] andreasn opened #2136 "need to do something about the sidebar in narrow layouts"
The sidebar breaks if the browser window is lower than 767px.
This happens on my Nexus7 tablet in portrait mode.

[2015-04-14 12:19] stefwalter opened #2137 "global name 'ex' is not defined"
Got this when running ```TEST_OS=fedora-21 ./VERIFY```

[code]

[2015-04-14 13:25] andreasn commented on #2001
In it's very simplest form, I would suggest adding a maximize button. This would simply fill the frame from left to right, top to bottom.

![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/terminal/terminal-maximize.png)

[2015-04-14 13:36] kdudka commented on #2001
Yes, that sounds useful to me.

[2015-04-14 13:44] stefwalter commented on #2001
@andreasn, maybe arrows-alt? http://fortawesome.github.io/Font-Awesome/icon/arrows-alt/

[2015-04-14 13:57] dperpeet commented on #2044
We could replace the recently deleted row with a "success" message like using swipe-delete on a phone - except that we don't have undo functionality. Example: ![swipe-delete](http://www.tothemobile.com/wp-content/uploads/2013/01/Delete-Email-with-Swipe.png)

But do we really want this? It is a destructive operation that the user has to acknowledge by clicking a different button first. The only alt

[2015-04-14 15:19] andreasn commented on #2044
I'm thinking more something along the lines of a timer to avoid some of the worst jumping. 3 seconds? Will need some testing.

[2015-04-14 15:20] andreasn commented on #2044
And the jarring experience with the jumping is my biggest concern. The accidental delete is only a worst case scenario

[2015-04-14 15:20] stefwalter commented on #2044
We keep them until the user leaves the bulk-delete mode.

[2015-04-14 21:59] #1868 closed

[2015-04-15 04:55] #2137 closed

[2015-04-15 13:19] andreasn opened #2147 "fuzzy spinner in Subscriptions"
When looking if there is a subscription, the spinner that shows up looks a bit fuzzy compared to the sharp ones on https://www.patternfly.org/widgets/#spinner

Not sure why this is.

[2015-04-15 13:26] stefwalter opened #2148 "Link to the Subscription registration"
In the *Register System* dialog we say:

"To create a login, please visit https://www.redhat.com/wapps/ugc/register.html"

Shouldn't we just have a link, with a target of a new tab/window?

[2015-04-15 13:28] andreasn commented on #2148
Sounds sane.

[2015-04-15 13:28] stefwalter opened #2149 "Crash of cockpit-lvm on Atomic"
The cockpit-lvm-helper command crashes on Atomic:

[code]

Because of this ```cockpit-lvm``` fails to initialize:

[code]

[2015-04-15 13:34] andreasn commented on #1818
Will this look for the IP address you're currently connected to, if I have two or three ip addresses, due to several network cards?

[2015-04-15 14:04] andreasn commented on #1818
At the very least, we can do something like this:
![Mockup](https://raw.githubusercontent.com/cockpit-project/cockpit-design/master/misc/disconnect-action.png)

We could also add btn-danger to the stop button on the cockpit.service page and a little info text in the ipv4/ipv6 configure dialog.

[2015-04-15 14:04] andreasn commented on #1818
![screenshot from 2015-04-15 16 02 36](https://cloud.githubusercontent.com/assets/209895/7160407/25de925c-e389-11e4-922f-ef429eec5334.png)

[2015-04-15 14:23] stefwalter commented on #1818
For netwoking, the whole approach needs a lot of discussion. Maybe including things like NetworkManager rollback if the browser disconnects right after a change?

[2015-04-15 16:02] mvollmer opened #2151 "Make superuser optional when talking to systemd in systemd/init."
Depends on #1595

[2015-04-16 06:04] dperpeet commented on #2148
Technically we don't say that, it's just the message that comes from the subscription server (whichever was used). We could convert all http / https links to actual links.
Would that make sense @andreasn ?

[2015-04-16 06:57] stefwalter commented on #2148
Makes sense to me. I would suggest leaving both the href and the clickable text as the full URL.

[2015-04-16 07:07] stefwalter commented on #80
@andreasn We should instead do this by avoiding use of images, and use them from the fonts instead.

[2015-04-16 07:07] stefwalter commented on #1722
Done.

[2015-04-16 07:07] #1722 closed

[2015-04-16 07:07] stefwalter commented on #1719
Done.

[2015-04-16 07:07] #1719 closed

[2015-04-16 08:44] #2149 closed

[2015-04-16 08:51] stefwalter opened #2157 "Dashboard misalignments after Patternfly update"
Various misalignments on the dashboard. Seems to be after the patternfly update:

![screenshot from 2015-04-16 10-49-52](https://cloud.githubusercontent.com/assets/795070/7177374/67ce0ab0-e426-11e4-99c3-7f3784683358.png)

 * No space between graph and Servers listing.
 * Click on the [ ] check icon, and the [edit] and [delete] icons are too low.
 * "My Name" the machine name is too high, and doesn

[2015-04-16 10:40] fridex commented on #2135
Yes, I can take a look at it.

[2015-04-17 10:32] stefwalter commented on #4
No longer used.

[2015-04-17 10:32] #4 closed

[2015-04-17 10:34] stefwalter commented on #198
This is done.

[2015-04-17 10:34] #198 closed

[2015-04-17 10:34] stefwalter commented on #174
This is done.

[2015-04-17 10:34] #174 closed

[2015-04-17 11:34] stefwalter commented on #1691
This has been fixed.

[2015-04-17 11:34] #1691 closed

[2015-04-17 11:50] stefwalter commented on #1991
@kbsingh @jzb We'll stick with a 208 minimum for now.

There are bothersome "wontfix" bugs (including mutually-exclusize bugs) in both <= 208 and > 208 .... so it's sorta pick your poison. None of them are blockers though.

[2015-04-17 12:08] mvollmer opened #2162 "Use DBusProxies for services overview page."
The code in #2128 uses the D-Bus API directly, without any help from DBusCache and the 'watch' support in the bridge.  We should try to use those instead.

Initial code here: https://github.com/mvollmer/cockpit/tree/direct-systemd-with-proxies.

[2015-04-17 18:33] ghost opened #2164 "Cockpit asking for password twice (httpd-like popup)"
Hi,
I got cockpit running on a fresh un-modified Fedora 21 Server and one thing I've noticed is that when I access https://server:9090/ it shows a apache-like popup asking for a user/password. Both root and my sudo user don't work, but if I click cancel it show the normal cockpit login page and it all works from there.
How can I remove this popup, or it is really a bug?

[user@server ~]$ rpm -qa |

[2015-04-17 18:34] dperpeet commented on #306
Already implemented.

[2015-04-17 18:34] #306 closed

[2015-04-17 18:36] stefwalter commented on #2164
Could you post a screenshot?

[2015-04-17 18:45] hezitemaj commented on #2164
Sure!

Guess it's normal because of the self-signed certificate.
![cert](https://cloud.githubusercontent.com/assets/9095120/7208635/2f4cddb4-e53a-11e4-864d-52a6b4233891.jpg)

The autentication I'm refering to:
![auth](https://cloud.githubusercontent.com/assets/9095120/7208638/34e57c4a-e53a-11e4-88ce-63502410f9a0.jpg)

After hitting cancel:
![after cancel](https://cloud.githubusercontent.com/assets

[2015-04-17 18:50] stefwalter opened #2166 "Manpage for /usr/sbin/remotectl"
remotectl command needs a man page.

[2015-04-17 19:22] stefwalter commented on #2164
Interesting. What is your browser and the operating system that your browser is running on?

[2015-04-17 23:53] hezitemaj commented on #2164
I'm using Windows 8.1 Pro (x64), and I've tried with Google Chrome 42.0.2311.90 m and Internet Explorer 11.0.9600.17728.

[2015-04-18 05:15] stefwalter commented on #2164
Since windows browsers seem to prompt for Kerberos auth (instead of using using SSO) ... it looks like we need some server side logic to detect whether GSSAPI auth is configured or not. We can't opportunistically use it.

This isn't as easy as it seems as GSSAPI can be configured via gss-proxy ... needs some thought.

[2015-04-18 05:22] stefwalter commented on #2166
Fixed.

[2015-04-18 05:22] #2166 closed

[2015-04-18 05:23] stefwalter opened #2169 "/var/run/docker.sock: couldn't connect: Resource temporarily unavailable"
This happens sometimes, and should be accounted for in our HTTP stream:

[code]

[2015-04-18 05:24] stefwalter opened #2170 "/var/run/docker.sock: received invalid HTTP chunk"
Saw this today, resulted in the entire containers page disappearing and being replaced by the 'Start docker' overlay:

[code]

Saw "protocol-error" in the UI.

[2015-04-18 05:27] #1831 closed

[2015-04-18 05:45] stefwalter opened #2171 "Resizing login screen width, makes 'Login In' button jump"
Resizing login screen width, makes 'Login In' button jump around. Seen on Firefox. As I resize it smaller, the 'Log In' button jumps from left to right and back.

[2015-04-18 11:06] hezitemaj commented on #2164
I've tried to access from a Linux machine (Fedora 21 Workstation) and the issue was not present, it's working as it should. So yeah, seems like it happens only in Windows browsers.

[2015-04-20 04:40] #585 closed

[2015-04-20 04:40] #3 closed

[2015-04-20 04:40] #48 closed

[2015-04-20 04:48] stefwalter commented on #22
This code is slated to be removed shortly.

[2015-04-20 04:48] #22 closed

[2015-04-20 04:51] stefwalter commented on #297
Duplicate of #1665

[2015-04-20 04:51] #297 closed

[2015-04-20 04:51] stefwalter commented on #285
Instead, we have the edit mode where you have one click delete.

[2015-04-20 04:51] #285 closed

[2015-04-20 04:52] stefwalter commented on #332
Resolved by the metrics channels.

[2015-04-20 04:52] #332 closed

[2015-04-20 04:54] stefwalter commented on #594
Done.

[2015-04-20 04:54] #594 closed

[2015-04-20 04:55] stefwalter commented on #501
Not sure why we need to do this. Closing.

[2015-04-20 04:55] #501 closed

[2015-04-20 04:56] stefwalter commented on #485
The new navigation has reworked this considerably. In particular components (the right hand side of the screen) are now embeddable independently, without the Cockpit navigation.

http://files.cockpit-project.org/guide/latest/embedding.html#embedding-full

[2015-04-20 04:56] #485 closed

[2015-04-20 04:56] #484 closed

[2015-04-20 04:58] stefwalter commented on #826
Fixed in #2128

[2015-04-20 04:58] #826 closed

[2015-04-20 04:58] stefwalter commented on #702
Done.

[2015-04-20 04:58] #702 closed

[2015-04-20 04:59] stefwalter commented on #699
Fixed with the new navigation.

[2015-04-20 04:59] #699 closed

[2015-04-20 04:59] stefwalter commented on #965
No. I think this is fixed.

[2015-04-20 04:59] #965 closed

[2015-04-20 05:00] stefwalter commented on #1075
The branding can now conditionally say whether a given release is ready or not for a given operating system.

[2015-04-20 05:00] #1075 closed

[2015-04-20 05:01] stefwalter commented on #1066
This code is no longer present.

[2015-04-20 05:01] #1066 closed

[2015-04-20 05:06] stefwalter commented on #2136
Yes, this is important. What does Patternfly suggest?